body{
	background-color: #EFEFEF;
}


.jamHeader{
	cursor: pointer;
}

.jamContent{
    background-color: #F7FBFD;
}

.jamHeader:hover{
	background-color: #CCE7F4;
}

.panel{
	border-radius: 0px;
}

.panel-footer{
	border-radius: 0px;
}

.panel-heading{
	border-radius: 0px;
}

.entryScreenshot{
	position: absolute;
	border: solid 1px #DDDDDD;
	transform: scale(1, 1);
	transition: 0.3s;
	width: 100%;
	color: black;
}
.entryScreenshot.hiddenFace{
	transform: scale(0, 1);
	transition: 0.1s;
}

.entryName{
	border: solid 1px #DDDDDD;
	border-top: 0px;
}

.entryPlayIcon{
	width: 24px;
}

.entryDescription{
	margin: 10px 0;
	padding: 5px;
	border-top: 1px solid rgba(0,0,0,0.5);
	border-bottom: 1px solid rgba(0,0,0,0.5);
	line-height: 14px;
}

.entryButton{
	border: 1px solid rgba(0,0,0,0.4);
	padding: 4px;
}
.entryButton:hover{
	border: 1px solid rgba(0,0,0,1);
}

.form-control{
	border-radius: 0px;
}

.btn{
	border-radius: 0px;
}

.themeTableCell{
	padding: 3px 3px;
	min-width: 30px;
}

.themeTableCellCentered{
	text-align: center;
}

.wrapper {
  width: 100%;
  /* whatever width you want */
  display: inline-block;
  position: relative;
}
.wrapper:after {
  padding-top: 56.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}
.main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* fill parent */
  background-color: deepskyblue;
  /* let's see it! */
  color: white;
}

.trumbowyg {
  background-color: white;
  border: 1px solid #CCCCCC;
  margin-top: 0;
  min-height: 150px;
}

.trumbowyg-editor {
  min-height: 150px;
}

.mediaButton{
	width: 100px; 
	border-radius: 5px; 
	color: white; 
	text-align: center; 
	padding: 4px 0px;
	margin-bottom: 5px;
}

.twitterButton{
	background-color: #1B95E0; 
}

.twitterButton:hover{
	background-color: #0C7ABF; 
}

.twitchButton{
	background-color: #6441A5; 
}

.twitchButton:hover{
	background-color: #472B7C; 
}

.ircButton{
	background-color: #777777; 
}

.ircButton:hover{
	background-color: #4B4B4B; 
}

.discordButton{
	background-color: #7289DA; 
}

.discordButton:hover{
	background-color: #6676AE; 
}

.authorPageEntry{
    background-color: #F5F5F5;
}
