<p>
	<h3>Admin Log</h3>
</p>
<p>
	This page shows the administration log
</p>

<div class='panel-body'>
    Click on a column header to sort.
    <table class="table sortable">
        <tr style='cursor: pointer;'>
            <th>ID</th>
            <th>Time</th>
            <th>Admin Username</th>
            <th>Subject Username</th>
            <th>Log Type</th>
            <th>Log Content</th>
        </tr>
        {{#adminlog}}
            <tr>
                <td>{{id}}</td>
                <td>{{datetime}}</td>
                <td>{{admin_username}}</td>
                <td>{{subject_username}}</td>
                <td>{{log_type}}</td>
                <td>{{log_content}}</td>
            </tr>
        {{/adminlog}}
    </table>
</div>