<h1 class="pageHeading">Assets</h1>
<p>
	Here you can find some assets which you can use for your {{CONFIG.VALUES.GAME_PHRASE_PLURAL}}.
</p>
{{#user.is_admin}}
	<form action='?{{{forms.get.page}}}={{{forms.pages.editasset}}}' method='POST'>
		{{> csrf_token}}
		<input type='hidden' name='{{{forms.form.action}}}' value='editasset'>
		<input type='submit' name='{{{forms.form.action}}}' value='New' class="btn btn-default">
	</form>
{{/user.is_admin}}

{{#assets.LIST}}
	<p>
		<h4>{{title}}</h4>
		{{#user.is_admin}}
			<a href='?{{{forms.get.page}}}={{{forms.pages.editasset}}}&{{{forms.get.editasset.asset_id}}}={{id}}'>
				<button type="submit" name='{{{forms.form.action}}}' value='{{{forms.action.editasset}}}' class="btn btn-default">Edit asset</button>
			</a>
		{{/user.is_admin}}
	</p>
	<p>
		By {{author_display_name}}<br />
		{{description}}
	</p>
	{{#is_audio}}
		<p>
			<audio controls="controls">
				Your browser does not support the <code>audio</code> element.
				<source src="{{content}}" type="audio/wav">
			</audio>
			<br /><a href='{{content}}'>Download</a>
		</p>
	{{/is_audio}}
	{{#is_image}}
		<p>
			<a href='{{content}}'><img src='{{content}}' class='assetImage'></a>
			<br /><a href='{{content}}'>Download</a>
		</p>
	{{/is_image}}
	{{#is_file}}
		<p>
			<a href='{{content}}'>Download</a>
		</p>
	{{/is_file}}
	{{#is_text}}
		<p>
			{{content}}
		</p>
	{{/is_text}}
	{{#is_link}}
		<p>
			<a href='{{content}}'>{{content}}</a>
		</p>
	{{/is_link}}
	{{#is_other}}
		<p>
			{{content}}
		</p>
	{{/is_other}}
{{/assets.LIST}}