<div class="col-md-10" id='assets'>
	<p>
		<h3>Assets</h3>
	</p>
	<p>
		Here you can find some jam-specific assets which can help you make your 1 hour game jam games.
	</p>
	{{#user.isadmin}}
		<form action='?page=editasset' method='POST'>
			<input type='hidden' name='action' value='editasset'>
			<input type='submit' name='action' value='New'>
		</form>
	{{/user.isadmin}}
	
	{{#assets}}
		<p>
			<h4>{{title}}</h4>
			{{#user.isadmin}}
				<form action='?page=editasset' method='POST'>
					<input type='hidden' name='asset_id' value='{{id}}'>
					<input type='hidden' name='action' value='editasset'>
					<input type='submit' value='Edit'>
				</form>
			{{/user.isadmin}}
		</p>
		<p>
			By {{author}}<br />
			{{description}}
		</p>
		{{#is_audio}}
			<p>
				<audio controls="controls">
					Your browser does not support the <code>audio</code> element.
					<source src="{{content}}" type="audio/wav">
				</audio>
				<br /><a href='{{content}}'>Download</a>
			</p>
		{{/is_audio}}
		{{#is_image}}
			<p>
				<a href='{{content}}'><img src='{{content}}' style='max-width: 600px; max-height: 200px; border: 0;'></a>
				<br /><a href='{{content}}'>Download</a>
			</p>
		{{/is_image}}
		{{#is_file}}
			<p>
				<a href='{{content}}'>Download</a>
			</p>
		{{/is_file}}
		{{#is_text}}
			<p>
				{{content}}
			</p>
		{{/is_text}}
		{{#is_link}}
			<p>
				<a href='{{content}}'>{{content}}</a>
			</p>
		{{/is_link}}
		{{#is_other}}
			<p>
				{{content}}
			</p>
		{{/is_other}}
	{{/assets}}
</div>