{{#page.viewing_author}}
	<div class='panel panel-info'>
		<div class='panel-heading'>
			{{display_name}}
		</div>
	</div>
	<div class='panel-body'>
		{{{ page.author_bio }}}
	</div>
	<div class='panel-body table-responsive'>
		{{^page.viewing_author.entries}}
			This user did not submit any games.
		{{/page.viewing_author.entries}}
		<table class='table fullWidth'>
			{{#page.viewing_author.entries}}
				{{^entry_deleted}}
					<tr style='height: 40px;'>
						{{#has_screenshot}}
							<td rowspan='2' style='width: 220px;' class='alignCenter'>
								<img src='{{screenshot_url}}' class='small_screenshot maxFullWidth' hidden_src='{{screenshot_url}}' style='max-height: {{#has_description}}200px{{/has_description}}{{^has_description}}100px{{/has_description}}' alt='{{title}} by {{author}}' onerror='this.src="logo.png"'>
							</td>
						{{/has_screenshot}}
						<td colspan='{{#has_screenshot}}1{{/has_screenshot}}{{^has_screenshot}}2{{/has_screenshot}}' class='authorPageEntry'>
							<b><span class='entryTitle'>{{#has_title}}{{title}}{{/has_title}}{{^has_title}}Untitled{{/has_title}}</span></b><br />
							for <a href='?page=jam&jam={{jam_number}}'>1 Hour Game Jam {{jam_number}} ({{jam_theme}})</a>
						</div>
						<td class='authorPageEntry alignRight'>
							{{#platforms}}
								{{#url}}
									<a href='#' class='btn btn-default entryButton' onclick='window.open("{{url}}", "_blank");'><img src='{{{page.template_path}}}{{{platform_icon_url}}}' class='entryPlayIcon' title='{{platform_name}}'></a>
								{{/url}}
							{{/platforms}}
							{{#page.show_edit_link}}
								<a href="?page=submit&amp;jam_number={{jam_number}}" class="btn btn-default">Edit entry</a>
							{{/page.show_edit_link}}
						</td>
					</tr>
					<tr>
						{{#has_description}}
							<td colspan='{{#has_screenshot}}2{{/has_screenshot}}{{^has_screenshot}}3{{/has_screenshot}}'>
								<p>
									{{description}}
								</p>
							</td>
						{{/has_description}}
					</tr>
				{{/entry_deleted}}
			{{/page.viewing_author.entries}}
		</table>
	</div>
{{/page.viewing_author}}