<h1 class="pageHeading">Edit configuration</h1>

<form method='post'>
	{{> csrf_token}}
	{{#CONFIG.LIST}}
		<div class='panel panel-info'>
			<div class='panel-heading'>
				<b>{{CATEGORY_HEADER}}</b>
			</div>
			<div class='panel-body'>
				{{#ENTRIES}}
					<div class="form-group">
						<label for="{{KEY}}">{{DESCRIPTION}}</label>
						{{#TYPE_TEXT}}
							<input type="text" class="form-control" id="{{KEY}}" name='{{KEY}}' placeholder="{{DESCRIPTION}}" value="{{{VALUE_HTML_ENCODED}}}" {{#DISABLED}}disabled title="Cannot be edited here, edit in database"{{/DISABLED}} {{#REQUIRED}}required{{/REQUIRED}}>
						{{/TYPE_TEXT}}
						{{#TYPE_NUMBER}}
							<input type="number" class="form-control" id="{{KEY}}" name='{{KEY}}' placeholder="{{DESCRIPTION}}" value="{{{VALUE_HTML_ENCODED}}}" {{#DISABLED}}disabled title="Cannot be edited here, edit in database"{{/DISABLED}} {{#REQUIRED}}required{{/REQUIRED}}>
						{{/TYPE_NUMBER}}
						{{#TYPE_TEXTAREA}}
							<textarea class="form-control configTextarea" id="{{KEY}}" name='{{KEY}}' {{#DISABLED}}disabled{{/DISABLED}} {{#REQUIRED}}required{{/REQUIRED}}>{{{VALUE_HTML_ENCODED}}}</textarea>
						{{/TYPE_TEXTAREA}}
						{{#TYPE_ENUM}}
							<select class="form-control" id="{{KEY}}" name='{{KEY}}' {{#DISABLED}}disabled title="Cannot be edited here, edit in database"{{/DISABLED}} {{#REQUIRED}}required{{/REQUIRED}}>
							{{#ENUM_OPTIONS}}
								<option value="{{{VALUE}}}" {{#ENUM_SELECTED}}selected{{/ENUM_SELECTED}}>{{TEXT}}</value>
							{{/ENUM_OPTIONS}}
							</select>
						{{/TYPE_ENUM}}
					</div>
				{{/ENTRIES}}
			</div>
		</div>
	{{/CONFIG.LIST}}
	<button type="submit" name='{{{forms.form.action}}}' value='{{{forms.action.saveconfig}}}' class="btn btn-default">Save settings</button>
</form>
<form method='post'>
	{{> csrf_token}}
	<button type="submit" name='{{{forms.form.action}}}' value='{{{forms.action.downloaddb}}}' class="btn btn-default">Download Database</button>
</form>