<p>
	<h3>Edit content</h3>
</p>

{{#jams.LIST}}
	<div class='panel panel-info jamContener'>
		<div class='panel-heading {{#jam_deleted}}jamDeleted{{/jam_deleted}}{{^jam_deleted}}jamNotDeleted{{/jam_deleted}}'>
			<span style='font-size: 16px;'>
				<b>{{#jam_deleted}}Deleted - {{/jam_deleted}}{{jam_number_ordinal}} {{CONFIG.VALUES.JAM_PHRASE_SINGULAR}}</b> (<b>{{theme_visible}}</b>) on {{date}} at {{time}} ({{entries_count}} {{CONFIG.VALUES.GAME_PHRASE_PLURAL}}, scheduled by {{scheduler_display_name}}, satisfaction: {{satisfaction_average_score}} ({{satisfaction_submitted_scores}} scores), {{CONFIG.VALUES.JAM_PHRASE_SINGULAR}} ID: {{jam_id}})
				<a href='?{{{forms.get.page}}}={{{forms.pages.editjam}}}&{{{forms.get.editjam.jam_id}}}={{jam_id}}'><button type="submit" name='{{{forms.form.action}}}' value='{{{forms.action.editjam}}}' class="btn btn-default">Edit {{CONFIG.VALUES.JAM_PHRASE_SINGULAR}}</button></a>
			</span>
		</div>

		<div class='panel-body table-responsive jamContent' id='entries{{jam_number}}'>
			<div style='width: 100%; text-align: center;'>
				<div style='background: url({{{page.template_path}}}images/star_red_outline.png); background-size:16px 16px; height: 16px; width:16px; display: inline-block;'>{{score_minus_5}}</div>
				<div style='background: url({{{page.template_path}}}images/star_red_outline.png); background-size:16px 16px; height: 16px; width:16px; display: inline-block;'>{{score_minus_4}}</div>
				<div style='background: url({{{page.template_path}}}images/star_red_outline.png); background-size:16px 16px; height: 16px; width:16px; display: inline-block;'>{{score_minus_3}}</div>
				<div style='background: url({{{page.template_path}}}images/star_red_outline.png); background-size:16px 16px; height: 16px; width:16px; display: inline-block;'>{{score_minus_2}}</div>
				<div style='background: url({{{page.template_path}}}images/star_yellow_outline.png); background-size:16px 16px; height: 16px; width:16px; display: inline-block;'>{{score_minus_1}}</div>
				<div style='background: url({{{page.template_path}}}images/star_yellow_outline.png); background-size:16px 16px; height: 16px; width:16px; display: inline-block;'>{{score_0}}</div>
				<div style='background: url({{{page.template_path}}}images/star_yellow_outline.png); background-size:16px 16px; height: 16px; width:16px; display: inline-block;'>{{score_plus_1}}</div>
				<div style='background: url({{{page.template_path}}}images/star_green_outline.png); background-size:16px 16px; height: 16px; width:16px; display: inline-block;'>{{score_plus_2}}</div>
				<div style='background: url({{{page.template_path}}}images/star_green_outline.png); background-size:16px 16px; height: 16px; width:16px; display: inline-block;'>{{score_plus_3}}</div>
				<div style='background: url({{{page.template_path}}}images/star_green_outline.png); background-size:16px 16px; height: 16px; width:16px; display: inline-block;'>{{score_plus_4}}</div>
				<div style='background: url({{{page.template_path}}}images/star_green_outline.png); background-size:16px 16px; height: 16px; width:16px; display: inline-block;'>{{score_plus_5}}</div>
			</div>
			{{#entries}}
				<div class='panel panel-default col-md-12' style='padding-left: 0px; padding-right: 0px; {{#entry_deleted}}background-color: #FDF7F7{{/entry_deleted}}'>
					<div class='panel-body' style='text-align: center;'>
						{{#entry_deleted}}Deleted - {{/entry_deleted}}{{title}} by {{author_username}}
						<a href='?{{{forms.get.page}}}={{{forms.pages.editentry}}}&{{{forms.get.editentry.entry_id}}}={{id}}'><button type="submit" name='{{{forms.form.action}}}' value='{{{forms.action.editentry}}}' class="btn btn-default">Edit {{CONFIG.VALUES.GAME_PHRASE_SINGULAR}}</button></a>
					</div>
				</div>
			{{/entries}}
		</div>
	</div>
{{/jams.LIST}}