<p>
	<h3>Edit entry</h3>
</p>
<form method='post'>
	{{> csrf_token}}
	{{#page.editingentry}}
		<div class="form-group">
			<label for="entryID">Entry ID</label>
			<input type="text" class="form-control" id="entryID" name='entryID' placeholder="Entry ID" value="{{{id}}}" readonly required>
		</div>
		<div class="form-group">
			<label for="jam_number">Jam number</label>
			<input type="text" class="form-control" id="jam_number" name='jam_number' placeholder="Jam number" value="{{{jam_number}}}" readonly required>
		</div>
		<div class="form-group">
			<label for="author_user_id">Author User Id</label>
			<input type="text" class="form-control" id="author_user_id" name='author_user_id' placeholder="Author User Id" value="{{{author_user_id}}}" readonly required>
		</div>
		<div class="form-group">
			<label for="title">Title</label>
			<input type="text" class="form-control" id="title" name='title' placeholder="Entry title" value="{{{title}}}" readonly required>
		</div>
		<div class="form-group">
			<label for="url">Game URL (Web)</label>
			<input type="text" class="form-control" id="url" name='url' placeholder="Game URL (Web)" value="{{{url_web}}}" readonly>
		</div>
		<div class="form-group">
			<label for="url">Game URL (Windows)</label>
			<input type="text" class="form-control" id="url" name='url' placeholder="Game URL (Windows)" value="{{{url_windows}}}" readonly>
		</div>
		<div class="form-group">
			<label for="url">Game URL (Mac)</label>
			<input type="text" class="form-control" id="url" name='url' placeholder="Game URL (Mac)" value="{{{url_mac}}}" readonly>
		</div>
		<div class="form-group">
			<label for="url">Game URL (Linux)</label>
			<input type="text" class="form-control" id="url" name='url' placeholder="Game URL (Linux)" value="{{{url_linux}}}" readonly>
		</div>
		<div class="form-group">
			<label for="url">Game URL (Android)</label>
			<input type="text" class="form-control" id="url" name='url' placeholder="Game URL (Android)" value="{{{url_android}}}" readonly>
		</div>
		<div class="form-group">
			<label for="url">Game URL (Other Platform)</label>
			<input type="text" class="form-control" id="url" name='url' placeholder="Game URL (Other Platform)" value="{{{url}}}" readonly>
		</div>
		<div class="form-group">
			<label for="url">Game URL (Source)</label>
			<input type="text" class="form-control" id="url" name='url' placeholder="Game URL (Source)" value="{{{url_source}}}" readonly>
		</div>
		<div class="form-group">
			<label for="screenshot_url">Screenshot URL</label>
			<input type="text" class="form-control" id="screenshot_url" name='screenshot_url' placeholder="Screenshot URL" value="{{{screenshot_url}}}" readonly required>
		</div>
	{{/page.editingentry}}
	<button type="submit" name='action' value='deleteentry' class="btn btn-default">Delete Entry</button>
</form>