<div class="col-md-10" id='jamlist'>
	<h3>Edit users</h3>
	
	<h4>Administrators</h4>
	<table class="table sortable">
		<tr>
			<th>Username</th>
			<th>Entries</th>
			<th>First Jam</th>
			<th>Last Jam</th>
			<th>Recent Participation</th>
			<th>Flags</th>
			<th></th>
		</tr>
		{{#admins}}
			<tr>
				<td><b>{{username}}</b></td>
				<td>{{#entry_count}}{{entry_count}}{{/entry_count}}</td>
				<td>{{#first_jam_number}}{{first_jam_number}}{{/first_jam_number}}</td>
				<td>{{#last_jam_number}}{{last_jam_number}}{{/last_jam_number}}</td>
				<td>{{recent_participation}}%</td>
				<td>{{#is_inactive}}Inactive{{/is_inactive}}</td>
				<td><a href='?page=edituser&username={{username}}'>edit</a></td>
			</tr>
		{{/admins}}
	</table>
	
	<h4>Registered users</h4>
	<table class="table sortable">
		<tr>
			<th>Username</th>
			<th>Entries</th>
			<th>First Jam</th>
			<th>Last Jam</th>
			<th>Recent Participation</th>
			<th>Admin candidate</th>
			<th></th>
		</tr>
		{{#registered_users}}
			<tr>
				<td><b>{{username}}</b></td>
				<td>{{#entry_count}}{{entry_count}}{{/entry_count}}</td>
				<td>{{#first_jam_number}}{{first_jam_number}}{{/first_jam_number}}</td>
				<td>{{#last_jam_number}}{{last_jam_number}}{{/last_jam_number}}</td>
				<td>{{#recent_participation}}{{recent_participation}}%{{/recent_participation}}</td>
				<td>{{#is_admin_candidate}}Yes{{/is_admin_candidate}}</td>
				<td><a href='?page=edituser&username={{username}}'>edit</a></td>
			</tr>
		{{/registered_users}}
	</table>
</div>