<h1 class="pageHeading">Manage Platforms</h1>

<h4>Platforms</h4>
<p>When users submit a {{CONFIG.VALUES.GAME_PHRASE_SINGULAR}} to a {{CONFIG.VALUES.JAM_PHRASE_SINGULAR}}, they can submit a link to one or more platforms. Platforms can be added, edited, deleted and restored on this page.</p>
<table class="table sortable">
    <tr class='sortableHeader'>
        <th class='platformsIconColumn'>Icon</th>
        <th>Name</th>
        <th>New Icon</th>
        <th>Save</th>
    </tr>
    {{#platforms.LIST}}
        <form method='post' enctype="multipart/form-data">
            <input type='hidden' name='{{{forms.form.editplatform.platform_id}}}' value='{{id}}'>
            {{> csrf_token}}
            <tr>
                <td><b><img src='{{{page.template_path}}}{{{icon_url}}}' class='platformsIconImage'></b></td>
                <td><b>
                    {{^deleted}}<input type="text" class="form-control" id="platformname" name='{{{forms.form.editplatform.name}}}' placeholder="Platform Name" value="{{name}}" required>{{/deleted}}
                    {{#deleted}}{{name}} (Deleted){{/deleted}}
                </b></td>
                <td>{{^deleted}}<input type="file" class="form-control" id="platformFile" name='{{{forms.form.editplatform.file}}}' placeholder="Icon file" value="">{{/deleted}}</td>
                <td>
                    {{^deleted}}
                        <button type="submit" name='{{{forms.form.action}}}' value='{{{forms.action.editplatform}}}' class="btn btn-default">Save</button>
                        <button type="submit" name='{{{forms.form.action}}}' value='{{{forms.action.deleteplatform}}}' class="btn btn-default">Delete</button>
                    {{/deleted}}
                    {{#deleted}}
                        <button type="submit" name='{{{forms.form.action}}}' value='{{{forms.action.undeleteplatform}}}' class="btn btn-default">Restore</button>
                    {{/deleted}}
                </td>
            </tr>
        </form>
    {{/platforms.LIST}}
</table>

<h4>Add Platform</h4>

<form method='post' enctype="multipart/form-data">
	{{> csrf_token}}
    <div class="form-group">
        <label for="platformname">Name</label>
        <input type="text" class="form-control" id="platformname" name='{{{forms.form.editplatform.name}}}' placeholder="Platform Name" value="" required>
    </div>
    <div class="form-group">
        <label for="platformFile">Platform Icon</label>
        <br />Square icons work best. Png (up to 20kB)
        <input type="file" class="form-control" id="platformFile" name='{{{forms.form.editplatform.file}}}' placeholder="Icon file" value="">
    </div>
    <button type="submit" name='{{{forms.form.action}}}' value='{{{forms.action.newplatform}}}' class="btn btn-default">Add Platform</button>
</form>