<h1 class="pageHeading">Manage user</h1>
<div class="pageDescription">
	Edit information about the user here or change their password.
</div>

<form method='post'>
	{{> csrf_token}}
	{{#page.editinguser}}
		<input type="hidden" class="form-control" id="user_id" name='{{{forms.form.edituser.user_id}}}' placeholder="User Id" value="{{{id}}}" readonly required>
		<p>
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" class="form-control" id="username" name='{{{forms.form.edituser.username}}}' placeholder="Username" value="{{{username}}}" readonly required>
			</div>
			<div class="form-group">
				<label for="displayname">Display Name <span class="userSettingsInput">(Required)</span></label>
				<input type="text" class="form-control" id="displayname" name='{{{forms.form.edituser.display_name}}}' placeholder="Display name" value="{{display_name}}" minlength='{{{CONFIG.VALUES.MINIMUM_DISPLAY_NAME_LENGTH}}}' maxlength='{{{CONFIG.VALUES.MAXIMUM_DISPLAY_NAME_LENGTH}}}' required>
			</div>
			<div class="form-group">
				<label for="emailaddress">Email <span class="userSettingsInput">(NOT Required)</span></label>
				<input type="email" class="form-control" id="emailaddress" name='{{{forms.form.edituser.email_address}}}' placeholder="Email Address" value="{{email}}">
			</div>
			<div class="form-group">
				<label for="twitterhandle">Twitter Handle <span class="userSettingsInput">(NOT Required)</span></label>
				<input type="text" class="form-control" id="twitterhandle" name='{{{forms.form.edituser.twitter_handle}}}' placeholder="@Twitter Handle" value="{{twitter}}" pattern="^@[a-zA-Z0-9_]+$" maxlength="16">
			</div>
			<div class="form-group">
				<label for="twitchusername">Twitch username<span class="userSettingsInput"> (https://www.twitch.tv/<span style='color: orange;'><b>twitch</b></span> <- this part) When set this enables the "become streamer" button for jams. (NOT Required)</span></label>
				<input type="text" class="form-control" id="twitchusername" name='{{{forms.form.edituser.twitch_username}}}' placeholder="Twitch Username" value="{{twitch}}" pattern="^[a-zA-Z0-9_]+$" maxlength="25">
			</div>
			<div class="form-group">
				<label for="emailaddress">Bio <span class="userSettingsInput">(NOT Required)</span></label>
				<div id="bio" name="{{{forms.form.edituser.bio}}}" class="trumbowyg-editor">{{{ page.user_bio }}}</div>
			</div>
			<div class="form-group">
				<label for="permission_level">Permission Level</label>
				<input type="number" class="form-control" id="permission_level" name='{{{forms.form.edituser.permission_level}}}' placeholder="Permission Level" value='{{admin}}' min="0" max="{{user.admin}}" {{^is_equal_or_lower_permission_level_to_logged_in_user}}disabled{{/is_equal_or_lower_permission_level_to_logged_in_user}}>
			</div>

			<h3>User Preferences</h3>
			<p>Preferences can't be changed by admins</p>
			<table class="table">
				<tr>
					<th>Preference Key</th>
					<th>Granted</th>
				</tr>
			{{#preferences_array}}
				<tr>
					<td>
						{{key}} 
					</td>
					<td>
						{{#granted}}
							<img src='{{{page.template_path}}}images/tick.png'>
						{{/granted}}
						{{^granted}}
							<img src='{{{page.template_path}}}images/cross.png'>
						{{/granted}}
					</td>
				</tr>
			{{/preferences_array}}
			</table>

			<h3>User Permissions</h3>
			<table class="table">
				<tr>
					<th>Permission Key</th>
					<th>Granted</th>
					<th>Allowed by Config<br>(Defualt Permission)</th>
					<th>Granted to user</th>
					<th>Denied to user</th>
				</tr>
			{{#permissions_array}}
				<tr>
					<td>
						{{key}} 
					</td>
					<td>
						{{#granted}}
							<img src='{{{page.template_path}}}images/tick.png'>
						{{/granted}}
						{{^granted}}
							<img src='{{{page.template_path}}}images/cross.png'>
						{{/granted}}
					</td>
					<td>
						{{#allowed_by_config}}
							<img src='{{{page.template_path}}}images/tick.png'>
						{{/allowed_by_config}}
						{{^allowed_by_config}}
							<img src='{{{page.template_path}}}images/cross.png'>
						{{/allowed_by_config}}
					</td>
					<td>
						<input type='checkbox' name='allowlist_{{{key}}}' value='1' {{#allowed_by_allowlist}}checked{{/allowed_by_allowlist}}>
					</td>
					<td>
						<input type='checkbox' name='denylist_{{{key}}}' value='1' {{#denied_by_denylist}}checked{{/denied_by_denylist}}>
					</td>
				</tr>
			{{/permissions_array}}
			</table>

			<button type="submit" name='{{{forms.form.action}}}' value='{{{forms.action.saveuseredits}}}' class="btn btn-default">Save User</button>
		</p>

		<p class='editUserChangePassword'>
			<div class="form-group">
				<label for="password1">New Password</label>
				<input type="password" class="form-control" id="password1" name='{{{forms.form.savenewuserpassword.password_1}}}' placeholder="Password" value="" minlength='{{{CONFIG.VALUES.MINIMUM_PASSWORD_LENGTH}}}' maxlength='{{{CONFIG.VALUES.MAXIMUM_PASSWORD_LENGTH}}}'>
			</div>
			<div class="form-group">
				<label for="password2">Repeat Password</label>
				<input type="password" class="form-control" id="password2" name='{{{forms.form.savenewuserpassword.password_2}}}' placeholder="Password (repeat)" value="" minlength='{{{CONFIG.VALUES.MINIMUM_PASSWORD_LENGTH}}}' maxlength='{{{CONFIG.VALUES.MAXIMUM_PASSWORD_LENGTH}}}'>
			</div>
			<button type="submit" name='{{{forms.form.action}}}' value='{{{forms.action.savenewuserpassword}}}' class="btn btn-default">Change password</button>
		</p>
	{{/page.editinguser}}
</form>

<script src="dependencies/trumbowyg/trumbowyg.min.js"></script>
<script src="dependencies/trumbowyg/trumbowyg.emoji.min.js"></script>
<script>
	$.trumbowyg.svgPath = 'template/images/icons.svg';
	$('.trumbowyg-editor').trumbowyg({
	    btns: [
					['emoji'],
        	['strong', 'em', 'del'],
        	['superscript', 'subscript'],
        	['link'],
        	['unorderedList', 'orderedList'],
       		['removeformat']
	    ],
	    removeformatPasted: true,
	    autogrow: true
	});
</script>
