<h1 class="pageHeading">Manage user</h1>
<div class="pageDescription">
	Edit information about the user here. Currently you can only make them an admin or change their password.
</div>

<form method='post'>
	{{> csrf_token}}
	{{#page.editinguser}}
		<input type="hidden" class="form-control" id="user_id" name='{{{forms.form.edituser.user_id}}}' placeholder="User Id" value="{{{id}}}" readonly required>
		<p>
			<div class="form-group">
				<label for="username">Username</label>
				<input type="text" class="form-control" id="username" name='{{{forms.form.edituser.username}}}' placeholder="Username" value="{{{username}}}" readonly required>
			</div>
			<div class="form-group">
				<label for="permission_level">Permission Level</label>
				<input type="number" class="form-control" id="permission_level" name='{{{forms.form.edituser.permission_level}}}' placeholder="Permission Level" value='{{admin}}' min="0" max="{{user.admin}}" {{^is_equal_or_lower_permission_level_to_logged_in_user}}disabled{{/is_equal_or_lower_permission_level_to_logged_in_user}}>
			</div>

			<h3>User Preferences</h3>
			<table class="table">
				<tr>
					<th>Preference Key</th>
					<th>Granted</th>
				</tr>
			{{#preferences_array}}
				<tr>
					<td>
						{{key}} 
					</td>
					<td>
						{{#granted}}
							<img src='{{{page.template_path}}}images/tick.png'>
						{{/granted}}
						{{^granted}}
							<img src='{{{page.template_path}}}images/cross.png'>
						{{/granted}}
					</td>
				</tr>
			{{/preferences_array}}
			</table>

			<h3>User Permissions</h3>
			<table class="table">
				<tr>
					<th>Permission Key</th>
					<th>Granted</th>
					<th>Allowed by Config<br>(Defualt Permission)</th>
					<th>Granted to user</th>
					<th>Denied to user</th>
				</tr>
			{{#permissions_array}}
				<tr>
					<td>
						{{key}} 
					</td>
					<td>
						{{#granted}}
							<img src='{{{page.template_path}}}images/tick.png'>
						{{/granted}}
						{{^granted}}
							<img src='{{{page.template_path}}}images/cross.png'>
						{{/granted}}
					</td>
					<td>
						{{#allowed_by_config}}
							<img src='{{{page.template_path}}}images/tick.png'>
						{{/allowed_by_config}}
						{{^allowed_by_config}}
							<img src='{{{page.template_path}}}images/cross.png'>
						{{/allowed_by_config}}
					</td>
					<td>
						<input type='checkbox' name='allowlist_{{{key}}}' value='1' {{#allowed_by_allowlist}}checked{{/allowed_by_allowlist}}>
					</td>
					<td>
						<input type='checkbox' name='denylist_{{{key}}}' value='1' {{#denied_by_denylist}}checked{{/denied_by_denylist}}>
					</td>
				</tr>
			{{/permissions_array}}
			</table>

			<button type="submit" name='{{{forms.form.action}}}' value='{{{forms.action.saveuseredits}}}' class="btn btn-default">Save User</button>
		</p>

		<p class='editUserChangePassword'>
			<div class="form-group">
				<label for="password1">New Password</label>
				<input type="password" class="form-control" id="password1" name='{{{forms.form.savenewuserpassword.password_1}}}' placeholder="Password" value="" minlength='{{{CONFIG.VALUES.MINIMUM_PASSWORD_LENGTH}}}' maxlength='{{{CONFIG.VALUES.MAXIMUM_PASSWORD_LENGTH}}}'>
			</div>
			<div class="form-group">
				<label for="password2">Repeat Password</label>
				<input type="password" class="form-control" id="password2" name='{{{forms.form.savenewuserpassword.password_2}}}' placeholder="Password (repeat)" value="" minlength='{{{CONFIG.VALUES.MINIMUM_PASSWORD_LENGTH}}}' maxlength='{{{CONFIG.VALUES.MAXIMUM_PASSWORD_LENGTH}}}'>
			</div>
			<button type="submit" name='{{{forms.form.action}}}' value='{{{forms.action.savenewuserpassword}}}' class="btn btn-default">Change password</button>
		</p>
	{{/page.editinguser}}
</form>