<div class="col-md-10" id='jamlist'>
	<p>
		<h3>Edit content</h3>
	</p>
	{{#jams_with_deleted}}
		<div class='panel panel-info jamContener' id='jam{{jam_number}}'>
			<div class='panel-heading' style='background-color: {{#jam_deleted}}#F7D9D9{{/jam_deleted}}{{^jam_deleted}}#D9EDF7{{/jam_deleted}};'>
				<span style='font-size: 16px;'>
					<form method='POST' action='?page=editjam'>
						<b>{{#jam_deleted}}Deleted - {{/jam_deleted}}{{jam_number_ordinal}} jam</b> (<b>{{theme_visible}}</b>) on {{date}} at {{time}} ({{entries_count}} entries)
						<input type='hidden' name='jamnumber' value='{{jam_number}}'>
						<button type="submit" name='action' value='editjam' class="btn btn-default">Edit jam</button>
					</form>
				</span>
			</div>
			
			<div class='panel-body jamContent' style='background: none; background-color: #F7FBFD;' id='entries{{jam_number}}'>
				{{#entries_with_deleted}}
					<div class='panel panel-default col-md-12' style='padding-left: 0px; padding-right: 0px; {{#entry_deleted}}background-color: #FDF7F7{{/entry_deleted}}'>
						<div class='panel-body' style='text-align: center;'>
							<form method='POST' action='?page=editentry'>
								{{#entry_deleted}}Deleted - {{/entry_deleted}}{{title}} by {{author}}
								<input type='hidden' name='jamnumber' value='{{jam_number}}'>
								<input type='hidden' name='entryauthor' value='{{author}}'>
								<button type="submit" name='action' value='editentry' class="btn btn-default">Edit entry</button>
							</form>
						</div>
					</div>
				{{/entries_with_deleted}}
			</div>
		</div>
	{{/jams_with_deleted}}
</div>