<h1 class="pageHeading">Manage users</h1>

<h4>Administrators</h4>
<p>For more information on the Login, {{CONFIG.VALUES.JAM_PHRASE_PLURAL}} and Admin activity indicators, hover your mouse over an indicator image.</p>
<table class="table sortable">
    <tr class='sortableHeader'>
        <th>Username</th>
        <th>{{CONFIG.VALUES.GAME_PHRASE_PLURAL}}</th>
        <th>First {{CONFIG.VALUES.JAM_PHRASE_SINGULAR}}</th>
        <th>Last {{CONFIG.VALUES.JAM_PHRASE_SINGULAR}}</th>
        <th>Recent Participation</th>
        <th>Login</th>
        <th>{{CONFIG.VALUES.JAM_PHRASE_PLURAL}}</th>
        <th>Admin</th>
        <th></th>
    </tr>
    {{#users.LIST}}
        {{#is_admin}}
            <tr>
                <td><b>{{username}}</b></td>
                <td>{{entry_count}}</td>
                <td>{{#first_jam_number}}{{first_jam_number}}{{/first_jam_number}}</td>
                <td>{{#last_jam_number}}{{last_jam_number}}{{/last_jam_number}}</td>
                <td>{{recent_participation}}%</td>
                <td class='editUserAdminActivityIndicatorLoginContainer' style='background-color: {{{activity_login_color}}};'>
                    {{#activity_login_inactive}}
                        <img src='{{{page.template_path}}}images/cross.png' class='editUserAdminActivityImage' title='Login Status: User is inactive - Has not logged in within the last {{CONFIG.VALUES.ADMIN_ACTIVITY_DAYS_SINCE_LAST_LOGIN_WARNING}} days'>
                    {{/activity_login_inactive}}
                    {{#activity_login_active}}
                        <img src='{{{page.template_path}}}images/tick.png' class='editUserAdminActivityImage' title='Login Status: User is active - Has logged in within the last {{CONFIG.VALUES.ADMIN_ACTIVITY_DAYS_SINCE_LAST_LOGIN_WARNING}} days'>
                    {{/activity_login_active}}
                    {{#activity_login_highly_active}}
                        <img src='{{{page.template_path}}}images/star.png' class='editUserAdminActivityImage' title='Login Status: User is highly active - Has logged in within the last {{CONFIG.VALUES.ADMIN_ACTIVITY_DAYS_SINCE_LAST_LOGIN_GOOD}} days'>
                    {{/activity_login_highly_active}}
                </td>
                <td class='editUserAdminActivityIndicatorJamParticipationContainer' style='background-color: {{{activity_jam_participation_color}}};'>
                    {{#activity_jam_participation_inactive}}
                        <img src='{{{page.template_path}}}images/cross.png' class='editUserAdminActivityImage' title='{{CONFIG.VALUES.JAM_PHRASE_SINGULAR}} Participation Status: User is inactive - Has not participated in any {{CONFIG.VALUES.JAM_PHRASE_PLURAL}} in the last {{CONFIG.VALUES.ADMIN_ACTIVITY_JAMS_SINCE_LAST_PARTICIPATION_WARNING}} {{CONFIG.VALUES.JAM_PHRASE_PLURAL}}'>
                    {{/activity_jam_participation_inactive}}
                    {{#activity_jam_participation_active}}
                        <img src='{{{page.template_path}}}images/tick.png' class='editUserAdminActivityImage' title='{{CONFIG.VALUES.JAM_PHRASE_SINGULAR}} Participation Status: User is active - Has participated in at least one {{CONFIG.VALUES.JAM_PHRASE_SINGULAR}} in the last {{CONFIG.VALUES.ADMIN_ACTIVITY_JAMS_SINCE_LAST_PARTICIPATION_WARNING}} {{CONFIG.VALUES.JAM_PHRASE_PLURAL}}'>
                    {{/activity_jam_participation_active}}
                    {{#activity_jam_participation_highly_active}}
                        <img src='{{{page.template_path}}}images/star.png' class='editUserAdminActivityImage' title='{{CONFIG.VALUES.JAM_PHRASE_SINGULAR}} Participation Status: User is highly active - Has participated in at least one {{CONFIG.VALUES.JAM_PHRASE_SINGULAR}} in the last {{CONFIG.VALUES.ADMIN_ACTIVITY_JAMS_SINCE_LAST_PARTICIPATION_GOOD}} {{CONFIG.VALUES.JAM_PHRASE_PLURAL}}'>
                    {{/activity_jam_participation_highly_active}}
                </td>
                <td class='editUserAdminActivityIndicatorAdminActionContainer' style='background-color: {{{activity_administration_color}}};'>
                    {{#activity_administration_inactive}}
                        <img src='{{{page.template_path}}}images/cross.png' class='editUserAdminActivityImage' title='Admin Actions Status: User is inactive - Has not performed any admin actions in the last {{CONFIG.VALUES.ADMIN_ACTIVITY_DAYS_SINCE_LAST_ADMIN_ACTION_WARNING}} days'>
                    {{/activity_administration_inactive}}
                    {{#activity_administration_active}}
                        <img src='{{{page.template_path}}}images/tick.png' class='editUserAdminActivityImage' title='Admin Actions Status: User is active - Has performed at least one admin action in the last {{CONFIG.VALUES.ADMIN_ACTIVITY_DAYS_SINCE_LAST_ADMIN_ACTION_WARNING}} days'>
                    {{/activity_administration_active}}
                    {{#activity_administration_highly_active}}
                        <img src='{{{page.template_path}}}images/star.png' class='editUserAdminActivityImage' title='Admin Actions Status: User is highly active - Has performed at least one admin action in the last {{CONFIG.VALUES.ADMIN_ACTIVITY_DAYS_SINCE_LAST_ADMIN_ACTION_GOOD}} days'>
                    {{/activity_administration_highly_active}}
                </td>
                <td><a href='?{{{forms.get.page}}}={{{forms.pages.edituser}}}&{{{forms.get.edituser.user_id}}}={{id}}'>edit</a></td>
            </tr>
        {{/is_admin}}
    {{/users.LIST}}
</table>

<h4>Admin candidates</h4>
<p>The following are users the system identified as potential admin candidates, because they participated in {{CONFIG.VALUES.ADMIN_SUGGESTION_TOTAL_PARTICIPATION}} or more {{CONFIG.VALUES.JAM_PHRASE_PLURAL}} and their recent participation is at or above {{CONFIG.VALUES.ADMIN_SUGGESTION_RECENT_PARTICIPATION}}%.</p>
<table class="table sortable">
    <tr class='sortableHeader'>
        <th>Username</th>
        <th>{{CONFIG.VALUES.GAME_PHRASE_PLURAL}}</th>
        <th>First {{CONFIG.VALUES.JAM_PHRASE_SINGULAR}}</th>
        <th>Last {{CONFIG.VALUES.JAM_PHRASE_SINGULAR}}</th>
        <th>Recent Participation</th>
        <th>Votes For</th>
        <th>Neutral Votes</th>
        <th>Votes Against</th>
        <th class='editUserAdminCandidatesVoteColumn'>Vote</th>
        <th></th>
    </tr>
    {{#users.LIST}}
        {{#is_admin_candidate}}
            {{^is_admin}}
                <tr>
                    <td><b>{{username}} {{#is_sponsored}}(<span class='editUserAdminCandidatesSponsored'>Sponsored</span>){{/is_sponsored}}</b></td>
                    <td>{{entry_count}}</td>
                    <td>{{#first_jam_number}}{{first_jam_number}}{{/first_jam_number}}</td>
                    <td>{{#last_jam_number}}{{last_jam_number}}{{/last_jam_number}}</td>
                    <td>{{#recent_participation}}{{recent_participation}}%{{/recent_participation}}</td>
                    {{#is_vetoed}}
                        <td colspan='3' class='editUserAdminCandidatesVetoed'>Vetoed</td>
                    {{/is_vetoed}}
                    {{^is_vetoed}}
                        <td class='editUserAdminCandidatesVotesFor'>{{votes_for}}</td>
                        <td class='editUserAdminCandidatesVotesFor'>{{votes_neutral}}</td>
                        <td class='editUserAdminCandidatesVotesFor'>{{votes_against}}</td>
                    {{/is_vetoed}}
                    <td class='editUserAdminCandidatesVotesButtonsContainer'>
                        {{#vote_type_sponsor}}
                        <form method='POST' id='adminvote_{{username_alphanumeric}}_1' class='editUserAdminCandidatesVotesForm'>
                            {{> csrf_token}}
                            <input type='hidden' name='{{{forms.form.action}}}' value='{{{forms.action.adminvote}}}'>
                            <input type='hidden' name='{{{forms.form.adminvote.subject_user_id}}}' value='{{{id}}}'>
                            <input type='hidden' name='{{{forms.form.adminvote.vote_type}}}' value='{{{forms.constant.adminvote.sponsor}}}'>
                            <button type="button" class="btn btn-default {{#vote_type_sponsor}}btn-success{{/vote_type_sponsor}}" onclick='CastAdminVote("adminvote_{{username_alphanumeric}}_1");'><img src='{{{page.template_path}}}images/sponsor.png' class='editUserAdminCandidatesVotesButtonImage'></button>
                        </form>
                        {{/vote_type_sponsor}}
                        <form method='POST' id='adminvote_{{username_alphanumeric}}_2' class='editUserAdminCandidatesVotesForm'>
                            {{> csrf_token}}
                            <input type='hidden' name='{{{forms.form.action}}}' value='{{{forms.action.adminvote}}}'>
                            <input type='hidden' name='{{{forms.form.adminvote.subject_user_id}}}' value='{{{id}}}'>
                            <input type='hidden' name='{{{forms.form.adminvote.vote_type}}}' value='{{{forms.constant.adminvote.for}}}'>
                            <button type="button" class="btn btn-default {{#vote_type_for}}btn-success{{/vote_type_for}}" onclick='CastAdminVote("adminvote_{{username_alphanumeric}}_2");'><img src='{{{page.template_path}}}images/like.png' class='editUserAdminCandidatesVotesButtonImage'></button>
                        </form>
                        <form method='POST' id='adminvote_{{username_alphanumeric}}_3' class='editUserAdminCandidatesVotesForm'>
                            {{> csrf_token}}
                            <input type='hidden' name='{{{forms.form.action}}}' value='{{{forms.action.adminvote}}}'>
                            <input type='hidden' name='{{{forms.form.adminvote.subject_user_id}}}' value='{{{id}}}'>
                            <input type='hidden' name='{{{forms.form.adminvote.vote_type}}}' value='{{{forms.constant.adminvote.neutral}}}'>
                            <button type="button" class="btn btn-default {{#vote_type_neutral}}btn-warning{{/vote_type_neutral}}" onclick='CastAdminVote("adminvote_{{username_alphanumeric}}_3");'><img src='{{{page.template_path}}}images/no_preference.png' class='editUserAdminCandidatesVotesButtonImage'></button>
                        </form>
                        <form method='POST' id='adminvote_{{username_alphanumeric}}_4' class='editUserAdminCandidatesVotesForm'>
                            {{> csrf_token}}
                            <input type='hidden' name='{{{forms.form.action}}}' value='{{{forms.action.adminvote}}}'>
                            <input type='hidden' name='{{{forms.form.adminvote.subject_user_id}}}' value='{{{id}}}'>
                            <input type='hidden' name='{{{forms.form.adminvote.vote_type}}}' value='{{{forms.constant.adminvote.against}}}'>
                            <button type="button" class="btn btn-default {{#vote_type_against}}btn-danger{{/vote_type_against}}" onclick='CastAdminVote("adminvote_{{username_alphanumeric}}_4");'><img src='{{{page.template_path}}}images/dislike.png' class='editUserAdminCandidatesVotesButtonImage'></button>
                        </form>
                        <form method='POST' id='adminvote_{{username_alphanumeric}}_5' class='editUserAdminCandidatesVotesForm'>
                            {{> csrf_token}}
                            <input type='hidden' name='{{{forms.form.action}}}' value='{{{forms.action.adminvote}}}'>
                            <input type='hidden' name='{{{forms.form.adminvote.subject_user_id}}}' value='{{{id}}}'>
                            <input type='hidden' name='{{{forms.form.adminvote.vote_type}}}' value='{{{forms.constant.adminvote.veto}}}'>
                            <button type="button" class="btn btn-default {{#vote_type_veto}}btn-danger{{/vote_type_veto}}" onclick='CastAdminVote("adminvote_{{username_alphanumeric}}_5");'><img src='{{{page.template_path}}}images/veto.png' class='editUserAdminCandidatesVotesButtonImage'></button>
                        </form>
                    </td>
                    <td><a href='?{{{forms.get.page}}}={{{forms.pages.edituser}}}&{{{forms.get.edituser.user_id}}}={{id}}'>edit</a></td>
                </tr>
            {{/is_admin}}
        {{/is_admin_candidate}}
    {{/users.LIST}}
</table>

<h4>Registered users</h4>
<table class="table sortable">
    <tr class='sortableHeader'>
        <th>Username</th>
        <th>{{CONFIG.VALUES.GAME_PHRASE_PLURAL}}</th>
        <th>First {{CONFIG.VALUES.JAM_PHRASE_SINGULAR}}</th>
        <th>Last {{CONFIG.VALUES.JAM_PHRASE_SINGULAR}}</th>
        <th>Recent Participation</th>
        <th>Admin candidate</th>
        <th>Sponsor for admin</th>
        <th></th>
    </tr>
    {{#users.LIST}}
        {{^is_admin}}
            <tr>
                <td><b>{{username}}</b></td>
                <td>{{entry_count}}</td>
                <td>{{#first_jam_number}}{{first_jam_number}}{{/first_jam_number}}</td>
                <td>{{#last_jam_number}}{{last_jam_number}}{{/last_jam_number}}</td>
                <td>{{#recent_participation}}{{recent_participation}}%{{/recent_participation}}</td>
                <td>{{#is_admin_candidate}}Yes{{/is_admin_candidate}}</td>
                <td>
                    <form method='POST' id='adminvote_{{username_alphanumeric}}_1' class='editUserAdminCandidatesVotesForm'>
                        {{> csrf_token}}
                        <input type='hidden' name='{{{forms.form.action}}}' value='{{{forms.action.adminvote}}}'>
                        <input type='hidden' name='{{{forms.form.adminvote.subject_user_id}}}' value='{{{id}}}'>
                        <input type='hidden' name='{{{forms.form.adminvote.vote_type}}}' value='{{{forms.constant.adminvote.sponsor}}}'>
                        <button type="button" class="btn btn-default {{#vote_type_sponsor}}btn-success{{/vote_type_sponsor}}" onclick='CastAdminVote("adminvote_{{username_alphanumeric}}_1");' title='Sponsor for administrator role - User will be added to Admin Candidates list, where other administrators can vote. You can only nominate one user for admin at a time.'><img src='{{{page.template_path}}}images/sponsor.png' class='editUserAdminCandidatesVotesButtonImage'></button>
                    </form>
                </td>
                <td><a href='?{{{forms.get.page}}}={{{forms.pages.edituser}}}&{{{forms.get.edituser.user_id}}}={{id}}'>edit</a></td>
            </tr>
        {{/is_admin}}
    {{/users.LIST}}
</table>

<script type='text/javascript'>
	function CastAdminVote(form_id){
        $("#"+form_id).submit();
	}
</script>