<div class="col-md-10" id='jamlist'>
	<p>
		<h3>Edit content</h3>
	</p>
	{{#jams}}
		<div class='panel panel-info jamContener' id='jam{{jam_number}}'>
			<div class='panel-heading'>
				<span style='font-size: 16px;'>
					<form method='POST' action='?page=editjam'>
						<b>{{jam_number_ordinal}} jam</b> (<b>{{theme_visible}}</b>) on {{date}} at {{time}} ({{entries_count}} entries)
						<input type='hidden' name='jamnumber' value='{{jam_number}}'>
						<button type="submit" name='action' value='editjam' class="btn btn-default">Edit jam</button>
					</form>
				</span>
			</div>
			
			<div class='panel-body jamContent' style='background: none; background-color: #F7FBFD;' id='entries{{jam_number}}'>
				{{#entries}}
					<div class='panel panel-default col-md-12' style='padding-left: 0px; padding-right: 0px;'>
						<div class='panel-body' style='text-align: center;'>
							<form method='POST' action='?page=editentry'>
								{{title}} by {{author}}
								<input type='hidden' name='jamnumber' value='{{jam_number}}'>
								<input type='hidden' name='entryauthor' value='{{author}}'>
								<button type="submit" name='action' value='editentry' class="btn btn-default">Edit entry</button>
							</form>
						</div>
					</div>
				{{/entries}}
			</div>
		</div>
	{{/jams}}
</div>