<div class='panel panel-info'>
	<div class='panel-heading'>
		{{CONFIG.VALUES.GAME_PHRASE_PLURAL}} ({{entries.all_entries_count}} total!)
	</div>
</div>

<input type="text" class="form-control" id='entrysearch' placeholder="Search by title, author, jam number or {{CONFIG.VALUES.THEME_PHRASE_SINGULAR}}..." style='margin-bottom: 10px;' onkeyup="FilterEntryTable()">
<div class='panel-body table-responsive jamContent'>
	Click on a column header to sort.
	<table class="table sortable" id="entrytable">
		<tr style='cursor: pointer;'>
			<th style='max-width: 150px;'>Title</th>
			<th style='max-width: 100px;'>Author</th>
			<th style='max-width: 50px;'>Jam</th>
			<th style='max-width: 100px;'>{{CONFIG.VALUES.THEME_PHRASE_SINGULAR}}</th>
			
			{{#page.platforms}}
				<th>{{platform_name}}</th>
			{{/page.platforms}}
		</tr>
		{{#entries.LIST}}
			{{^entry_deleted}}
			<tr>
					<td><b>{{title}}</b></td>
					<td><a href='?page=author&author={{author_username}}'>{{author_display_name}}</a></td>
					<td><a href='?page=jam&jam={{jam_number}}'>{{jam_number}}</a></td>
					<td><a href='?page=jam&jam={{jam_number}}'>{{jam_theme}}</a></td>
					
					{{#platforms}}
						<td>
							{{#url}}
								<a href='{{url}}' target='_blank'><img src='{{{page.template_path}}}{{{platform_icon_url}}}' style='width: 16px;' title='{{platform_name}}'></a>
							{{/url}}
						</td>
					{{/platforms}}
				</tr>
			{{/entry_deleted}}
		{{/entries.LIST}}
	</table>
</div>

<script>
	function FilterEntryTable() {
		// Declare variables
		var input, filter, table, tr, td_title, td_author, td_jam, td_theme, i;
		input = document.getElementById("entrysearch");
		filter = input.value.toUpperCase();
		table = document.getElementById("entrytable");
		tr = table.getElementsByTagName("tr");

		// Loop through all table rows, and hide those who don't match the search query
		for (i = 0; i < tr.length; i++) {
			td_title = tr[i].getElementsByTagName("td")[0];
			td_author = tr[i].getElementsByTagName("td")[1];
			td_jam = tr[i].getElementsByTagName("td")[2];
			td_theme = tr[i].getElementsByTagName("td")[3];
			if (td_title && td_author && td_jam && td_theme) {
				if (	td_title.innerHTML.toUpperCase().indexOf(filter) > -1 ||
						td_author.innerHTML.toUpperCase().indexOf(filter) > -1 ||
						td_jam.innerHTML.toUpperCase().indexOf(filter) > -1 ||
						td_theme.innerHTML.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}
		}
	}
</script>