
<div class="footerRow">
    <div class="alignCenter footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 alignCenter footerColumn footerColumnLeft">
                    <img src="template/images/logos/logo_onehourgamejam.png" alt="Logo" class="footerLogo">
                    <p>
                        <a href='?{{{forms.get.page}}}={{{forms.pages.main}}}'>Home</a> -
                        <a href='?{{{forms.get.page}}}={{{forms.pages.rules}}}'>About</a>
                    </p>
                </div>
                <div class="col-md-5 alignCenter footerColumn footerColumnCenter">
                    Powered By
                    <a href='https://github.com/OneHourGameJam/OneHourGameJam'>One Hour Game Jam</a> version {{SOFTWARE_VERSION}} <br />
                    <a href='https://github.com/OneHourGameJam/OneHourGameJam/issues' target='_BLANK'>Report a bug / suggest a feature</a>
                </div>
                <div class="col-md-4 alignCenter footerColumn footerColumnRight">
                    <div>
                        Contact: <br />
                        {{#CONFIG.VALUES.TWITTER_ACCOUNT}}
                            <a href="https://twitter.com/{{CONFIG.VALUES.TWITTER_ACCOUNT}}" target='_blank'>
                                <div class='mediaButton twitterButton'><img src='{{{page.template_path}}}images/twitter.png' class="menuButton" /> Follow</div>
                            </a>
                        {{/CONFIG.VALUES.TWITTER_ACCOUNT}}
                        {{#CONFIG.VALUES.DISCORD_INVITE_URL}}
                            <a href="{{{CONFIG.VALUES.DISCORD_INVITE_URL}}}" target='_blank'>
                                <div class='mediaButton discordButton'><img src='{{{page.template_path}}}images/discord.png' class="menuButton" /> Discord</div>
                            </a>
                        {{/CONFIG.VALUES.DISCORD_INVITE_URL}}
                        {{#CONFIG.VALUES.TWITCH_ACCOUNT}}
                            <a href="https://twitch.tv/{{CONFIG.VALUES.TWITCH_ACCOUNT}}" target='_blank'>
                                <div class='mediaButton twitchButton'><img src='{{{page.template_path}}}images/twitch.png' class="menuButton" /> Watch</div>
                            </a>
                        {{/CONFIG.VALUES.TWITCH_ACCOUNT}}
                        {{#CONFIG.VALUES.IRC_CHAT_IN_BROWSER}}
                            <a href="{{{CONFIG.VALUES.IRC_CHAT_IN_BROWSER}}}" target='_blank'>
                                <div class='mediaButton ircButton'><img src='{{{page.template_path}}}images/irc.png' class="menuButton" /> IRC</div>
                            </a>
                        {{/CONFIG.VALUES.IRC_CHAT_IN_BROWSER}}
                        <a href="https://github.com/OneHourGameJam/OneHourGameJam" target='_blank'>
                            <div class='mediaButton githubButton'><img src='{{{page.template_path}}}images/github.png' class="menuButton" /> Github</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 alignCenter">
                    {{{CONFIG.VALUES.SITE_FOOTER}}}
                </div>
            </div>
        </div>
    </div>
</div>
