<h1 class="pageHeading">Forgot your password?</h1>
<div>
    If you've forgotten your password one of our admins can help you.<br>
    You should contact a {{CONFIG.VALUES.JAMNAME}} administrator by going to our
    <a href="{{{CONFIG.VALUES.DISCORD_INVITE_URL}}}">Discord server</a>, specifically the <i>#help</i> channel.
</div>
