<div class="row">
	<div class="col-md-12 alignCenter" style='margin-top: 10px;'>
		<div class="panel panel-info">
			<div class="panel-body">
				<div class="col-md-3 hidden-xs hidden-sm alignCenter" style='margin-top: 10px;'>
					<a href='.'><img src='{{{page.template_path}}}/images/logos/logo_hourglass.svg' alt='Logo' style='float: left; max-height: 100px; border: 0;' /></a>
				</div>
				<div class="col-md-6 alignCenter" style='margin-top: 10px;'>
					<a href='.'><img src='{{{page.template_path}}}images/logos/logo_onehourgamejam.png' alt='Logo' style='max-width: 100%; width: 400px; border: 0;' /></a><br />
					{{{CONFIG.VALUES.JAMDESC}}}<br />
					{{#CONFIG.VALUES.IRC_ADDRESS}}
					{{#CONFIG.VALUES.IRC_CHANNEL}}
						<a href="#" onclick='$("#ircInfo").slideToggle(); return false;' style='text-decoration: none;' target='_blank'>
							<div class='mediaButton ircButton' style='display: inline-block;'><img src='{{{page.template_path}}}images/irc.png' style='width: 20px;' /> IRC</div>
						</a>
					{{/CONFIG.VALUES.IRC_CHANNEL}}
					{{/CONFIG.VALUES.IRC_ADDRESS}}

					{{#CONFIG.VALUES.DISCORD_INVITE_URL}}
						<a href="{{{CONFIG.VALUES.DISCORD_INVITE_URL}}}" style='text-decoration: none;' target='_blank'>
							<div class='mediaButton discordButton' style='display: inline-block;'><img src='{{{page.template_path}}}images/discord.png' style='width: 20px;' /> Discord</div>
						</a>
					{{/CONFIG.VALUES.DISCORD_INVITE_URL}}
				</div>
				<div class="col-md-3 alignCenter" style='margin-top: 10px; color: #FF0066'>
					<p>
						<b>Next jam:</b><br />
						<script type='text/javascript'>
							var date = new Date('{{{jams.next_jam_timer_code}}}');
							var now = new Date();
							function UpdateTimer(){
								now = new Date();
								var countdownTimer = (date - now) / 1000;
								var totalS = countdownTimer;
								var d = Math.floor(totalS / (24*60*60));
								totalS -= d * (24*60*60);
								var h = Math.floor(totalS / (60*60));
								totalS -= h * (60*60);
								var m = Math.floor(totalS / (60));
								totalS -= m * (60);
								var s = Math.floor(totalS);

								var timerString = "";
								if (d > 0){
									timerString = d+" day"+((d > 1) ? "s" : "")+((h > 0) ? (" "+h + " hour"+((h > 1) ? "s" : "")) : "");
								}else if (d == 0 && h > 0){
									timerString = h+" hour"+((h > 1) ? "s" : "")+((m > 0) ? (" "+m + " minute"+((m > 1) ? "s" : "")) : "");
								}else if (d == 0 && h == 0 && m > 0){
									timerString = m+" min"+((s > 0) ? (" "+s + " s") : "");
								}else if (d == 0 && h == 0 && m == 0 && s > 0){
									timerString = s+" s";
								}else{
									timerString = "Go! Go! Go!";
								}

								$("#countdownTimer").text(timerString);
								setTimeout(UpdateTimer, 500);
							}
							var year = date.getFullYear();
							var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
							var month = months[date.getMonth()];
							var day = date.getDate();
							var hour = date.getHours();
							var min = date.getMinutes();
							if(min < 10){
								min = "0"+min
							}

							var i1 = String(date).indexOf("(");
							var i2 = String(date).lastIndexOf(")");

							var timezone = "";

							if(i1 > 0 && i2 > 0){
								timezone = String(date).substring(i1 +1, i2);
							}
							else
							{
								var n = now.getTimezoneOffset() / -60;
								timezone = "UTC";
								if(n > 0){
									if(n < 10){
										n = "+0"+(n*100);
									}else{
										n = "+"+(n*100);
									}
									timezone += n;
								}
								if(n < 0){
									if(n > -10){
										n = "-0"+(n*-100);
									}else{
										n = "-"+(n*-100);
									}
									timezone += n;
								}
							}
							document.write("<b>"+day+" "+month+" "+year+" at "+hour+":"+min+"</b><br />("+timezone+")");

							setTimeout(UpdateTimer, 0);
						</script>
					</p>
					<p>
						<span id='countdownTimer' style='font-size: 24px; font-weight: bold;'></span>
					</p>
				</div>
			</div>
			{{#CONFIG.VALUES.IRC_ADDRESS}}
			{{#CONFIG.VALUES.IRC_CHANNEL}}
			<div class="panel-body" id="ircInfo" style='display: none;'>
				Join us on IRC: Channel <a href="irc:{{{CONFIG.VALUES.IRC_ADDRESS}}}/{{{CONFIG.VALUES.IRC_CHANNEL}}}">#{{{CONFIG.VALUES.IRC_CHANNEL}}} on {{{CONFIG.VALUES.IRC_ADDRESS}}}</a>
				{{#CONFIG.VALUES.IRC_CHAT_IN_BROWSER}}
					or <a href='{{{CONFIG.VALUES.IRC_CHAT_IN_BROWSER}}}'>chat from your browser</a>
				{{/CONFIG.VALUES.IRC_CHAT_IN_BROWSER}}
			</div>
			{{/CONFIG.VALUES.IRC_CHANNEL}}
			{{/CONFIG.VALUES.IRC_ADDRESS}}
		</div>
	</div>
</div>
<div class="row" style="font-size: 16px; font-weight: bold;">
	<div class="col-md-offset-3 col-md-2 alignCenter" style='margin-bottom: 10px;'>
		<a href='?page=jams'>{{jams.all_jams_count}} Jams</a>
	</div>
	<div class="col-md-2 alignCenter" style='margin-bottom: 10px;'>
		<a href='?page=entries'>{{entries.all_entries_count}} {{CONFIG.VALUES.GAME_PHRASE_PLURAL}}</a>
	</div>
	<div class="col-md-2 alignCenter" style='margin-bottom: 10px;'>
		<a href='?page=authors'>{{users.all_authors_count}} Developers</a>
	</div>
</div>









