<div class="row">
	<div class="col-md-12" style='text-align: center; margin-top: 10px;'>
		<div class="panel panel-info">
			<img src='logo.png' alt='Logo' style='float: left; max-height: 100px; margin-top: 17px; margin-left: 17px;' />
			<div class="panel-body">
				<h1 style='margin-top: 0px;'>One hour game jam</h1>
				A weekly one hour game jam.<br />
				Each Saturday at 20:00 GMT.<br />
				Join us on IRC: <a href='irc:afternet.org/ludumdare'>#ludumdare</a> channel on <a href='http://afternet.org'>afternet.org</a>
			</div>
		</div>
	</div>
</div>