<!doctype html>
<html lang="en">
	<head>
		<meta charset='utf-8'>
		<script src="dependencies/jquery/jquery.min.js"></script>
		<title>{{CONFIG.VALUES.JAMNAME}} - {{page.page_title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="dependencies\bootstrap/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{{{page.template_path}}}css/trumbowyg.css">
		<link rel="stylesheet" href="{{{page.template_path}}}css/trumbowyg.emoji.css">
		<style>
			{{>css}}
		</style>
		{{#cookies.darkmode}}
			<link href="{{{page.template_path}}}css/darkmode.css" rel="stylesheet">
		{{/cookies.darkmode}}
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<script src='{{{page.template_path}}}js/1hgj.js' type='text/javascript'></script>
		<script src='dependencies/sorttable/sorttable.js' type='text/javascript'></script>
		<script src='dependencies/chartjs/chart.min.js' type='text/javascript'></script>
	</head>
	<body>
        {{> header}}
        {{^cookies.is_streamer}}
            {{> notification}}
        {{/cookies.is_streamer}}

        {{>jam_stats}}
        <div class="container">
            {{^cookies.is_streamer}}
                {{> poll}}
            {{/cookies.is_streamer}}
            <div class="row">
                <div class="col-md-2">
                    {{> menu}}
                </div>
                <div class="col-md-10">
                    {{> message}}
                    {{> page}}
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12 alignCenter footer'>
                    {{> footer}}
                </div>
            </div>
        </div>
        
        <div class="cookieNotice" id="cookieNotice" style='{{^cookies.show_cookie_notice}}display: none{{/cookies.show_cookie_notice}}'>
            <form method="POST"><button type="submit" name='{{{forms.form.cookienotice.accept}}}' class="btn btn-xs cookieNoticeForm">
                {{> csrf_token}}
                <b>X</b>
            </button></form>
            {{> cookie_notice}}
        </div>
        <script src="dependencies\bootstrap/bootstrap.min.js"></script>
    </body>
</html>
