<!doctype html>
<html lang="en">
	<head>
		<meta charset='utf-8'>
		<script src="vendor/components/jquery/jquery.js"></script>
		<title>{{CONFIG.VALUES.JAMNAME}} - {{page.page_title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="vendor/components/Bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{{{page.template_path}}}css/trumbowyg.css">
		<link href="{{{page.template_path}}}css/site.css" rel="stylesheet">
		{{#cookies.darkmode}}
			<link href="{{{page.template_path}}}css/darkmode.css" rel="stylesheet">
		{{/cookies.darkmode}}
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<script src='{{{page.template_path}}}js/1hgj.js' type='text/javascript'></script>
		<script src='vendor/components/sorttable/sorttable.js' type='text/javascript'></script>
		<script src='vendor/components/chartjs/chart.min.js' type='text/javascript'></script>
	</head>
	<body>
        <div class="container">
            {{> header}}
            {{^cookies.is_streamer}}
                {{> notification}}
                {{> poll}}
            {{/cookies.is_streamer}}
            <div class="row">
                <div class="col-md-2">
                    {{> menu}}
                </div>
                <div class="col-md-10">
                    {{> message}}
                    {{> page}}
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12 alignCenter' style='padding-bottom: 50px;'>
                    {{> footer}}
                </div>
            </div>
        </div>
        {{#cookies.show_cookie_notice}}
            <div class="cookieNotice">
                    <form method="POST"><button type="submit" name='cookienotice-accepted' class="btn btn-xs" style="float: right; background: transparent; border: none;">
                        <b>X</b>
                    </button></form>
                    {{> cookie_notice}}
            </div>
        {{/cookies.show_cookie_notice}}
        <script src="vendor/components/Bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
