<!doctype html>
<html lang="en">
	<head>
		<meta charset='utf-8'>
		<script src="vendor/components/jquery/jquery.js"></script>
		<title>Install</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="vendor/components/Bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{{{page.template_path}}}css/trumbowyg.css">
		<link rel="stylesheet" href="{{{page.template_path}}}css/trumbowyg.emoji.css">
		<link href="{{{page.template_path}}}css/site.css" rel="stylesheet">
		{{#cookies.darkmode}}
			<link href="{{{page.template_path}}}css/darkmode.css" rel="stylesheet">
		{{/cookies.darkmode}}
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<script src='{{{page.template_path}}}js/1hgj.js' type='text/javascript'></script>
		<script src='vendor/components/sorttable/sorttable.js' type='text/javascript'></script>
		<script src='vendor/components/chartjs/chart.min.js' type='text/javascript'></script>
	</head>
	<body>
        <div class="container">

            <div class="row">
                <div class="col-md-12 alignCenter" style='margin-top: 10px;'>
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <div class="col-md-3 hidden-xs hidden-sm alignCenter" style='margin-top: 10px;'>
                                <img src='{{{page.template_path}}}/images/logos/logo_hourglass.svg' alt='Logo' style='float: left; max-height: 100px; border: 0;' />
                            </div>
                            <div class="col-md-6 alignCenter" style='margin-top: 10px;'>
                                <img src='{{{page.template_path}}}images/logos/logo_onehourgamejam.png' alt='Logo' style='max-width: 100%; width: 400px; border: 0;' />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12" style='margin-top: 10px;'>
                    {{> page}}
                </div>
            </div>
            <div class='row'>
                <div class='col-md-12 alignCenter' style='padding-bottom: 50px;'>
                    {{> footer}}
                </div>
            </div>
        </div>
        <script src="vendor/components/Bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
