<div class="col-md-10" id='jamlist'>
	{{#viewing_jam}}
		<div class='panel panel-info jamContener' id='jam{{jam_number}}'>
			<div class='panel-heading'>
				<a name='jam{{jam_number}}'></a>
				<h3 class='panel-title' style='font-size: 24px;'>
					{{jam_number_ordinal}} one hour game jam ({{date}})
				</h3>
				Theme: {{theme}}<br />
				{{#jam_started}}
					<span>Started: {{date}} at {{time}} ({{entries_count}} entries)</span>
				{{/jam_started}}
				{{^jam_started}}
					<span>Starts on: {{date}} at {{time}} <span style='color: red'>(in <span id='time_display_{{jam_number_ordinal}}'>{{time_left}}</span>)</span></span>
				{{/jam_started}}
			</div>
		</div>
		<div class='panel-body jamContent' style='background: none; background-color: #F7FBFD;' id='entries{{jam_number}}'>
			<table style='width: 100%' class='table'>
				{{#entries}}
					<tr style='height: 40px;'>
						{{#has_screenshot}}
							<td rowspan='2' style='width: 220px; text-align: center;'>
								<img src='{{screenshot_url}}' class='small_screenshot' hidden_src='{{screenshot_url}}' style='max-width:100%; max-height: {{#has_description}}200px{{/has_description}}{{^has_description}}100px{{/has_description}}' alt='{{title}} by {{author}}' onerror='this.src="logo.png"'>
							</td>
						{{/has_screenshot}}
						<td colspan='{{#has_screenshot}}1{{/has_screenshot}}{{^has_screenshot}}2{{/has_screenshot}}' style='background-color: #F5F5F5;'>
							<b><span class='entryTitle'>{{title}}</span></b><br />
							by <a href='?page=author&author={{author}}'>{{author_display}}</a>
						</div>
						<td style='background-color: #F5F5F5; text-align: right; min-width: 200px;'>
							<!-- Facebook -->
							<a href="#" onclick="window.open('http://www.facebook.com/sharer.php?u=http://onehourgamejam.com/', '_blank');" target="_blank">
								<img src="http://liamlime.com/site/images/social/facebook.png" alt="Facebook" style='max-width: 30px;' /></a>
							
							<!-- Twitter -->
							<a href="#" onclick="window.open('https://twitter.com/share?url=http://onehourgamejam.com/&amp;text=Played a game by {{{author_url_encoded}}} made in one hour titled {{{title_url_encoded}}}. Try it!;hashtags=gamedev, 1hgj, gamejam', '_blank');" target="_blank">
								<img src="http://liamlime.com/site/images/social/twitter.png" alt="Twitter" style='max-width: 30px;' /></a>
							
							<!-- Google+ -->
							<a href="#" onclick="window.open('https://plus.google.com/share?url=http://onehourgamejam.com/', '_blank');" target="_blank">
							<img src="http://liamlime.com/site/images/social/google.png" alt="Google" style='max-width: 30px;' /></a>
							
							{{#has_url_web}}<a href='#' onclick='window.open("{{url_web}}", "_blank");'><img src='{{{template_path}}}images/platforms/web.png' style='width: 16px;' title='Web'></a>{{/has_url_web}}
							{{#has_url_windows}}<a href='#' onclick='window.open("{{url_windows}}", "_blank");'><img src='{{{template_path}}}images/platforms/windows.png' style='width: 16px;' title='Windows'></a>{{/has_url_windows}}
							{{#has_url_mac}}<a href='#' onclick='window.open("{{url_mac}}", "_blank");'><img src='{{{template_path}}}images/platforms/mac.png' style='width: 16px;' title='Mac'></a>{{/has_url_mac}}
							{{#has_url_linux}}<a href='#' onclick='window.open("{{url_linux}}", "_blank");'><img src='{{{template_path}}}images/platforms/linux.png' style='width: 16px;' title='Linux'></a>{{/has_url_linux}}
							{{#has_url_android}}<a href='#' onclick='window.open("{{url_android}}", "_blank");'><img src='{{{template_path}}}images/platforms/android.png' style='width: 16px;' title='Android'></a>{{/has_url_android}}
							{{#has_url_ios}}<a href='#' onclick='window.open("{{url_ios}}", "_blank");'><img src='{{{template_path}}}images/platforms/ios.png' style='width: 16px;' title='iOS'></a>{{/has_url_ios}}
							{{#has_url}}<a href='#' onclick='window.open("{{url}}", "_blank");'><img src='{{{template_path}}}images/platforms/custom.png' style='width: 16px;' title='Other platform'></a>{{/has_url}}
						</td>
					</tr>
					<tr>
						{{#has_description}}
							<td colspan='{{#has_screenshot}}2{{/has_screenshot}}{{^has_screenshot}}3{{/has_screenshot}}'>
								<p>
									{{description}}
								</p>
							</td>
						{{/has_description}}
					</tr>
				{{/entries}}
			</table>
		</div>
	{{/viewing_jam}}
</div>