
<div class='panel panel-info jamHeaderPanel'>
    <div class='panel-heading jamHeader {{#jam_starts_soon}}jamHeaderStartsSoon{{/jam_starts_soon}} {{#jam_started}}{{^jam_ended}}jamHeaderCurrent{{/jam_ended}}{{/jam_started}} {{#in_straming_period}}jamHeaderStreamingPeriod{{/in_straming_period}}'>
        <div class="container jamHeaderContainer">
            <a name='jam{{jam_number}}'></a>
            <div class="row jamHeaderRow">
                <div class="col-xs-1">
                    <img src="{{{default_icon_url}}}" class="jamHeaderIcon" />
                </div>
                <div class="col-xs-2 jamHeaderOrdinalContainer">
                    <h3 class='panel-title jamHeaderOrdinal'>{{jam_number_ordinal}}</h3>
                </div>
                <div class="col-xs-5">
                    <b>{{CONFIG.VALUES.THEME_PHRASE_SINGULAR}}:</b> {{theme}}{{#streamer_is_set}}, {{/streamer_is_set}}
                    {{^streamer_is_set}}
                        <br />
                    {{/streamer_is_set}}

                    {{#jam_started}}
                        <span>{{date}}</span>
                    {{/jam_started}}
                    {{^jam_started}}
                        <i><span>{{date}} at {{time}} UTC</span></i>
                    {{/jam_started}}
                    {{#streamer_is_set}}
                        <br />Streamed by <a href='https://www.twitch.tv/{{{streamer_twitch_username}}}' target='_blank'>{{streamer_user_display_name}} (@{{streamer_twitch_username}})</a>
                    {{/streamer_is_set}}
                </div>
                <div class="col-xs-3 jamHeaderStatsContainer">
                    {{^in_straming_period}}
                        {{#jam_started}}
                            <h4>{{entries_count}} {{CONFIG.VALUES.GAME_PHRASE_PLURAL}}</h4>
                        {{/jam_started}}
                    {{/in_straming_period}}
                </div>
            </div>
        </div>
    </div>
</div>