<div class='panel-heading jamHeader'>
    <div class="container" style="padding: 0;  width: 100%; align-content: center">
        <a name='jam{{jam_number}}'></a>
        <div class="row" style="margin: 0;">
            <div class="col-xs-2" style="text-align: center;">
                <h3 class='panel-title' style='font-size: 35px;'>{{jam_number_ordinal}}</h3>
            </div>
            <div class="col-xs-6">
                <b>{{CONFIG.VALUES.THEME_PHRASE_SINGULAR}}:</b> {{theme}}<br />
                {{#jam_started}}
                    <span>{{date}}</span>
                {{/jam_started}}
                {{^jam_started}}
                    <i><span>{{date}}</span></i>
                {{/jam_started}}
            </div>
            <div class="col-xs-3" style="float: right; text-align: right">
                {{#jam_started}}
                    <h4>{{entries_count}} {{CONFIG.VALUES.GAME_PHRASE_PLURAL}}</h4>
                {{/jam_started}}
                {{^jam_started}}
                    <h4 style='color: indianred; font-weight: bold;'><span id='next_jam_countdown_{{jam_number}}'></span></h4>
                {{/jam_started}}
            </div>
        </div>
    </div>
</div>

{{^jam_started}}
    <script type='text/javascript'>
        var date_{{jam_number}} = new Date('{{{timer_code}}}');
        var now = new Date();

        function UpdateTimer_{{jam_number}}(inputId){
            now = new Date();
            var countdownTimer = (date_{{jam_number}} - now) / 1000;
            var totalS = countdownTimer;
            var d = Math.floor(totalS / (24*60*60));
            totalS -= d * (24*60*60);
            var h = Math.floor(totalS / (60*60));
            totalS -= h * (60*60);
            var m = Math.floor(totalS / (60));
            totalS -= m * (60);
            var s = Math.floor(totalS);

            let update_interval = 60000;
            var timerString = "in ";
            if (d > 0){
                timerString += d+" day"+((d > 1) ? "s" : "")+((h > 0) ? (" "+h + " hour"+((h > 1) ? "s" : "")) : "");
            }else if (d == 0 && h > 0){
                timerString += h+" hour"+((h > 1) ? "s" : "")+((m > 0) ? (" "+m + " minute"+((m > 1) ? "s" : "")) : "");
            }else if (d == 0 && h == 0 && m > 0){
                update_interval = 500;
                timerString += m+" min"+((s > 0) ? (" "+s + " s") : "");
            }else if (d == 0 && h == 0 && m == 0 && s > 0){
                update_interval = 500;
                timerString += s+" s";
            }else{
                timerString = "Go! Go! Go!";
            }

            $("#"+inputId).text(timerString);
            setTimeout(UpdateTimer_{{jam_number}}, update_interval, inputId);
        }
        setTimeout(UpdateTimer_{{jam_number}}, 0, 'next_jam_countdown_{{jam_number}}')
    </script>
{{/jam_started}}