<div class="row statsRow">
	<div class="col-md-offset-3 col-md-2 alignCenter statsDisplay">
		<a href='?{{{forms.get.page}}}={{{forms.pages.jams}}}'>{{jams.all_jams_count}} {{CONFIG.VALUES.JAM_PHRASE_PLURAL}}</a>
	</div>
	<div class="col-md-2 alignCenter statsDisplay">
		<a href='?{{{forms.get.page}}}={{{forms.pages.entries}}}'>{{entries.all_entries_count}} {{CONFIG.VALUES.GAME_PHRASE_PLURAL}}</a>
	</div>
	<div class="col-md-2 alignCenter statsDisplay">
		<a href='?{{{forms.get.page}}}={{{forms.pages.authors}}}'>{{users.all_authors_count}} {{CONFIG.VALUES.DEVELOPER_PHRASE_PLURAL}}</a>
	</div>
</div>









