<h1 class="pageHeading">{{CONFIG.VALUES.JAM_PHRASE_PLURAL}}</h1>

<input type="text" class="form-control searchInputField" id='jamsearch' placeholder="Search by Number, {{CONFIG.VALUES.THEME_PHRASE_SINGULAR}} or Date..." onkeyup="FilterJamsTable()">
<div class='panel-body jamContent'>
	Click on a column header to sort.
	<table class="table sortable" id="jamtable">
		<tr class='sortableHeader'>
			<th>Number</th>
			<th>{{CONFIG.VALUES.THEME_PHRASE_SINGULAR}}</th>
			<th>Date</th>
			<th>{{CONFIG.VALUES.GAME_PHRASE_PLURAL}}</th>
		</tr>
		{{#jams.LIST}}
			{{^jam_deleted}}
				<tr>
					<td>{{#jam_number}}<a href='?{{{forms.get.page}}}={{{forms.pages.jam}}}&{{{forms.get.jam.number}}}={{jam_number}}'>{{jam_number}}</a>{{/jam_number}}</td>
					<td>{{#theme}}{{theme}}{{/theme}}</td>
					<td>{{#date}}{{date}} at {{time}}{{/date}}</td>
					<td>{{entries_count}}</td>
				</tr>
			{{/jam_deleted}}
		{{/jams.LIST}}
	</table>
</div>

<script>
	function FilterJamsTable() {
		// Declare variables
		var input, filter, table, tr, td_number, td_theme, td_date, i;
		input = document.getElementById("jamsearch");
		filter = input.value.toUpperCase();
		table = document.getElementById("jamtable");
		tr = table.getElementsByTagName("tr");

		// Loop through all table rows, and hide those who don't match the search query
		for (i = 0; i < tr.length; i++) {
			td_number = tr[i].getElementsByTagName("td")[0];
			td_theme = tr[i].getElementsByTagName("td")[1];
			td_date = tr[i].getElementsByTagName("td")[1];
			if (td_number && td_theme && td_date) {
				if (  td_number.innerHTML.toUpperCase().indexOf(filter) > -1 ||
				      td_theme.innerHTML.toUpperCase().indexOf(filter) > -1 ||
				      td_date.innerHTML.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}
		}
	}
</script>