<div class="col-md-10" id='jamlist'>
	<input type="text" class="form-control" id='search' placeholder="Search for..." style='margin-bottom: 10px;'>
	
	{{#jams}}
		<div class='panel panel-info jamContener' id='jam{{jam_number}}'>
			<div class='panel-heading jamHeader'>
				<a name='jam{{jam_number}}'></a>
				<h3 class='panel-title' style='font-size: 24px;'>
					{{jam_number_ordinal}} hour game jam ({{date}})
				</h3>
				Theme: {{theme}}<br />
				{{#jam_started}}
					<span>Started: {{date}} at {{time}}</span>
				{{/jam_started}}
				{{^jam_started}}
					<span>Starts on: {{date}} at {{time}} <span style='color: red'>(in {{time_left}})</span></span>
				{{/jam_started}}
			</div>
			
			
			<div class='panel-body jamContent' style='background: none; background-color: #F7FBFD;{{^entries_visible}} display: none;{{/entries_visible}}' id='entries{{jam_number}}'>
			
				{{#entries}}
					<a href='{{url}}' target='_BLANK'>
						<div class='panel panel-default col-md-3 entry' style='padding-left: 0px; padding-right: 0px; height: 289px;'>
							<div class='panel-body entryScreenshot' style='text-align: center; height: 226px;'>
								{{#entries_visible}}
									<img src='{{screenshot_url}}' hidden_src='{{screenshot_url}}' style='max-width:100%; max-height: 200px' alt='{{title}} by {{author}}' onerror='this.src="logo.png"'>
								{{/entries_visible}}
								{{^entries_visible}}
									<img src='' hidden_src='{{screenshot_url}}' style='max-width:100%; max-height: 200px' alt='{{title}} by {{author}}' onerror='this.src="logo.png"'>
								{{/entries_visible}}
							</div>
							<div class='panel-footer entryName'>
								<b><span class='entryTitle'>{{title}}</span></b><br />
								by <span class='entryAuthor'>{{author}}</span>
							</div>
						</div>
					</a>
				{{/entries}}
			</div>
		</div>
	{{/jams}}
</div>