<h3>Manage Themes</h3>

{{#cookies.is_streamer}}
<p class='bold'>
	Please disable streamer mode to manage themes.
</p>
{{/cookies.is_streamer}}

{{^cookies.is_streamer}}
			<p>Use this page to manage theme suggestions, decide which theme to pick for a manually scheduled jam, and view probablity of certain themes being automatically selected for the next jam.</p>
			</p>

	<div class='panel panel-info'>
		<div class="chart-container" style="position: relative; max-height:500px; max-width:500px">
			<canvas id="entriesChart" width="200" height="200"></canvas>
		</div>
		<script type='text/javascript'>
			var entriesChartCtx = $("#entriesChart");
			var entriesChart = new Chart(entriesChartCtx, {
				type: 'pie',
				data: {
					labels: [{{{themes.js_formatted_themes_popularity_themes_list}}}],
					datasets: [{
						label: '# of Entries',
						data: [{{{themes.js_formatted_themes_popularity_popularity_list}}}],
						backgroundColor: [
							{{{themes.js_formatted_themes_popularity_fill_color_list}}}
						],
						borderColor: [
							{{{themes.js_formatted_themes_popularity_border_color_list}}}
						],
						borderWidth: 1
					}]
				},
				options: {
					animation: {
						duration: 0
					},
					tooltips: {
						mode: 'index'
					},
					title: {
						display: true,
						text: "Theme Selection Probability"
					}
				},
			});
		
		</script>
	</div>
{{/cookies.is_streamer}}

<h4>Themes to Keep</h4>
<p>These themes should be kept for the next jam.</p>
<p>This list can be used to select the theme for the next jam, but the theme will be automatically selected if none is
	chosen.</p>
<ul>
	<li><img src='{{{page.template_path}}}images/star.png' style='width: 16px;'> <b>TOP</b> - Theme is one of the top
		voted themes. The number of themes marked as "Top" can be set on the <a href='?		page=config'>Configuration
			page</a> (default is top 5). These themes appear as suggestions on the <a href='?page=newjam'>Schedule Jam
			page</a>.</li>
	<li><img src='{{{page.template_path}}}images/tick.png' style='width: 16px;'> <b>KEEP</b> - Theme is not one of the
		top themes, but is popular enough to be kept in voting for the next jam. The number of themes to keep between
		jams can be set on the <a href='?page=config'>Configuration page</a> (default is top 20)</li>
	<li><img src='{{{page.template_path}}}images/votes.png' style='width: 16px;'> <b>TOO FEW VOTES</b> - Theme has not
		yet received enough votes to get a popularity rating. The minimum
		number of votes for a theme's popularity to appear can be set on the <a href='?page=config'>Configuration
			page</a> (default is top 10).</li>
</ul>
<p>The following metrics are used to judge opinion of a theme. In the formulas below, the words UPVOTE, DOWNVOTE, NEUTRALVOTE represent the number of +1 votes, -1 votes and 0 votes respectively:</p>
<ul>
	<li><img src='{{{page.template_path}}}images/star.png' style='width: 16px;'> <b>POPULARITY</b> Meant to
		represnet how popular a theme is among the people who have an opinion about it. Note that voting 0 has no
		effect on popularity. The higher the number, the better. The formula is UPVOTE / (UPVOTE + DOWNVOTE)</li>
	<li><img src='{{{page.template_path}}}images/apathy.png' style='width: 16px;'> <b>APATHY</b> Meant to represent
		how opinionated people are about this theme. A theme with one +1 vote and lots of 0 votes is likely a worse
		choice than one with 9 +1 votes and 3 -1 votes, after all. The lower the number, the better. While
		popularity will likely govern most decisions on which theme to select, apathy can be a good way to decide
		between two themes with similar popularity scores. The formula is NEUTRALVOTE / (UPVOTE + DOWNVOTE + NEUTRALVOTE)</li>
</ul>
<table>
	<tr>
		
		<th class='themeTableCell themeTableCellCentered'>Select</th>
		<form id="delete-themes" method='POST'>{{> csrf_token}}</form>
		{{^cookies.is_streamer}}
			<th class='themeTableCell themeTableCellCentered' style='min-width: 10px;'>Status</th>
		{{/cookies.is_streamer}}
		
		<th class='themeTableCell themeTableCellCentered'>
			Theme
		</th>
		
		{{^cookies.is_streamer}}
			<th class='themeTableCell themeTableCellCentered'>
				Author
			</th>
			<th class='themeTableCell themeTableCellCentered'>
				Votes
			</th>
			<th class='themeTableCell themeTableCellCentered'>
				Popularity
			</th>
			<th class='themeTableCell themeTableCellCentered'>
				Apathy
			</th>
			<th class='themeTableCell themeTableCellCentered'>
				+1
			</th>
			<th class='themeTableCell themeTableCellCentered'>
				0
			</th>
			<th class='themeTableCell themeTableCellCentered'>
				-1
			</th>
			<th class='themeTableCell themeTableCellCentered'>
				Days old
			</th>
			<th class='themeTableCell themeTableCellCentered'>
				Selection Probability by Vote Difference
			</th>
			<th class='themeTableCell themeTableCellCentered'>
				Selection Probability by Popularity
			</th>
			<th class='themeTableCell themeTableCellCentered'>
				Admin actions
			</th>
		{{/cookies.is_streamer}}
	</tr>
	{{#themes.suggested_themes}}
		{{#theme_visible}}{{^banned}}{{^is_marked_for_deletion}}
			{{^cookies.is_streamer}}
				<tr>
				<td class='themeTableCell themeTableCellCentered'>
					<input type="checkbox" name="selected-themes[]" value="{{{theme_id}}}" form="delete-themes">
				</td>
				<td class='themeTableCell themeTableCellCentered'>
					{{#is_old}}
						<!-- Old theme hourglass -->
						<img src='{{{page.template_path}}}images/clock.png' title='Theme is old, votes likely don&quot;t reflect real opinions anymore.' >
					{{/is_old}}
					{{^is_old}}
						{{#is_recent}}
							<img src='{{{page.template_path}}}images/reused.png' title='Theme has been used recently, it shouldn&quot;t be used for a while.'>
						{{/is_recent}}
						{{^is_recent}}
							{{#has_enough_votes}}
								{{#top_theme}}
									<!-- Top theme star -->
									<img src='{{{page.template_path}}}images/star.png' title='Top theme'>
								{{/top_theme}}
								{{^top_theme}}
									{{#keep_theme}}
										<!-- Keep checkmark -->
										<img src='{{{page.template_path}}}images/tick.png' title='Theme wil be kept in voting for the next jam'>
									{{/keep_theme}}
									{{^keep_theme}}
										<!-- Unpopular theme half-star -->
										<img src='{{{page.template_path}}}images/unpopular.png' title='Theme not within the top number of themes that are kept between jams.'>
									{{/keep_theme}}
								{{/top_theme}}
							{{/has_enough_votes}}
							{{^has_enough_votes}}
								<!-- Not enough votes ballot box -->
								<img src='{{{page.template_path}}}images/votes.png' title='Theme does not yet have enough votes.'>
							{{/has_enough_votes}}
						{{/is_recent}}
						
					{{/is_old}}
				</td>
			{{/cookies.is_streamer}}
			
			
			<td class='themeTableCell'>
				{{{theme}}}
			</td>
			{{^cookies.is_streamer}}
				<td class='themeTableCell themeTableCellCentered'>
					{{author_username}}
				</td>
				<td class='themeTableCell themeTableCellCentered'>
					{{votes_total}}
				</td>
				<td class='themeTableCell themeTableCellCentered' {{#has_enough_votes}}style='background-color: {{popularity_color}}'{{/has_enough_votes}}>
					{{votes_popularity}}
				</td>
				<td class='themeTableCell themeTableCellCentered' {{#has_enough_votes}} style='background-color: {{apathy_color}}'{{/has_enough_votes}}>
					{{votes_apathy}}
				</td>
				<td class='themeTableCell themeTableCellCentered'>
					{{votes_for}}
				</td>
				<td class='themeTableCell themeTableCellCentered'>
					{{votes_neutral}}
				</td>
				<td class='themeTableCell themeTableCellCentered'>
					{{votes_against}}
				</td>
				<td class='themeTableCell themeTableCellCentered'>
					{{days_ago}}
				</td>
				<td class='themeTableCell themeTableCellCentered'>
					{{ThemeSelectionProbabilityByVoteDifferenceText}}
				</td>
				<td class='themeTableCell themeTableCellCentered'>
					{{ThemeSelectionProbabilityByPopularityText}}
				</td>
				<td class='themeTableCell'>
					<form method='POST' style='display: inline-block;'>
						{{> csrf_token}}
						<div class="btn-group">
							<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
								Action
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
								<li><button type="submit" name='action' value='deletetheme' class="btn btn-default">Delete</button></li>
								<li>
									<button type="submit" name='action' value='bantheme' class="btn btn-default">Ban</button>
								</li>
							</ul>
						</div>
						<input type='hidden' name='theme_id' value='{{{theme_id}}}'>
						<input type='hidden' name='pageid' value='managethemes'>
					</form>
				</td>
			{{/cookies.is_streamer}}
			</tr>
		{{/is_marked_for_deletion}}{{/banned}}{{/theme_visible}}
	{{/themes.suggested_themes}}
</table>

<a id="markedfordeletion"></a>
<h4>Themes Marked for Deletion</h4>
<p>These themes should be deleted <strong>during or after the <em>next</em> jam.</strong> An old theme may be kept if it is very popular!</p>
<p>Deleting a theme will remove it from theme voting, but it can still be suggested again. Ban a theme using the "Actions" panel next to it to prevent it from being suggested again. Deleting a theme will reset its voting information.</p>
<ul>
	<li><img src='{{{page.template_path}}}images/clock.png' style='width: 16px;'> <b>OLD</b> - Theme was suggested a
		long time ago and its popularity likely no longer reflects the opinion of current participants. Should be
		deleted after the next jam. <strong>An old theme may be kept for a short time if it is very popular!</strong> The threshold for a theme to be marked as old can be set on the <a
			href='?page=config'>Configuration page</a> (default is 90 days).</li>
	<li><img src='{{{page.template_path}}}images/reused.png' style='width: 16px;'> <b>RECENT</b> - Theme was used in a
		recent jam. It shouldn't be used again until a number of jams defined on the <a
			href='?page=config'>Configuration
			page</a>.</li>
	<li><img src='{{{page.template_path}}}images/unpopular.png' style='width: 16px;'> <b>UNPOPULAR</b> - Theme is not
		within the top rated themes.</li>
</ul>
<table>
	<tr>

		<th class='themeTableCell themeTableCellCentered'>Select</th>
		<form id="delete-themes" method='POST'>{{> csrf_token}}</form>
		{{^cookies.is_streamer}}
		<th class='themeTableCell themeTableCellCentered' style='min-width: 10px;'>Status</th>
		{{/cookies.is_streamer}}

		<th class='themeTableCell themeTableCellCentered'>
			Theme
		</th>

		{{^cookies.is_streamer}}
		<th class='themeTableCell themeTableCellCentered'>
			Author
		</th>
		<th class='themeTableCell themeTableCellCentered'>
			Votes
		</th>
		<th class='themeTableCell themeTableCellCentered'>
			Popularity
		</th>
		<th class='themeTableCell themeTableCellCentered'>
			Apathy
		</th>
		<th class='themeTableCell themeTableCellCentered'>
			+1
		</th>
		<th class='themeTableCell themeTableCellCentered'>
			0
		</th>
		<th class='themeTableCell themeTableCellCentered'>
			-1
		</th>
		<th class='themeTableCell themeTableCellCentered'>
			Days old
		</th>
		<th class='themeTableCell themeTableCellCentered'>
			Selection Probability by Vote Difference
		</th>
		<th class='themeTableCell themeTableCellCentered'>
			Selection Probability by Popularity
		</th>
		<th class='themeTableCell themeTableCellCentered'>
			Admin actions
		</th>
		{{/cookies.is_streamer}}
	</tr>
	{{#themes.suggested_themes}}
	{{#theme_visible}}{{^banned}}{{#is_marked_for_deletion}}
	{{^cookies.is_streamer}}
	<tr>
		<td class='themeTableCell themeTableCellCentered'>
			<input type="checkbox" name="selected-themes[]" value="{{{theme_id}}}" form="delete-themes">
		</td>
		<td class='themeTableCell themeTableCellCentered'>
			{{#is_old}}
			<!-- Old theme hourglass -->
			<img src='{{{page.template_path}}}images/clock.png'
				title='Theme is old, votes likely don&quot;t reflect real opinions anymore.'>
			{{/is_old}}
			{{^is_old}}
			{{#is_recent}}
			<img src='{{{page.template_path}}}images/reused.png'
				title='Theme has been used recently, it shouldn&quot;t be used for a while.'>
			{{/is_recent}}
			{{^is_recent}}
			{{#has_enough_votes}}
			{{#top_theme}}
			<!-- Top theme star -->
			<img src='{{{page.template_path}}}images/star.png' title='Top theme'>
			{{/top_theme}}
			{{^top_theme}}
			{{#keep_theme}}
			<!-- Keep checkmark -->
			<img src='{{{page.template_path}}}images/tick.png' title='Theme wil be kept in voting for the next jam'>
			{{/keep_theme}}
			{{^keep_theme}}
			<!-- Unpopular theme half-star -->
			<img src='{{{page.template_path}}}images/unpopular.png'
				title='Theme not within the top number of themes that are kept between jams.'>
			{{/keep_theme}}
			{{/top_theme}}
			{{/has_enough_votes}}
			{{^has_enough_votes}}
			<!-- Not enough votes ballot box -->
			<img src='{{{page.template_path}}}images/votes.png' title='Theme does not yet have enough votes.'>
			{{/has_enough_votes}}
			{{/is_recent}}

			{{/is_old}}
		</td>
		{{/cookies.is_streamer}}


		<td class='themeTableCell'>
			{{{theme}}}
		</td>
		{{^cookies.is_streamer}}
		<td class='themeTableCell themeTableCellCentered'>
			{{author_username}}
		</td>
		<td class='themeTableCell themeTableCellCentered'>
			{{votes_total}}
		</td>
		<td class='themeTableCell themeTableCellCentered'
			{{#has_enough_votes}}style='background-color: {{popularity_color}}' {{/has_enough_votes}}>
			{{votes_popularity}}
		</td>
		<td class='themeTableCell themeTableCellCentered' {{#has_enough_votes}}
			style='background-color: {{apathy_color}}' {{/has_enough_votes}}>
			{{votes_apathy}}
		</td>
		<td class='themeTableCell themeTableCellCentered'>
			{{votes_for}}
		</td>
		<td class='themeTableCell themeTableCellCentered'>
			{{votes_neutral}}
		</td>
		<td class='themeTableCell themeTableCellCentered'>
			{{votes_against}}
		</td>
		<td class='themeTableCell themeTableCellCentered'>
			{{days_ago}}
		</td>
		<td class='themeTableCell themeTableCellCentered'>
			{{ThemeSelectionProbabilityByVoteDifferenceText}}
		</td>
		<td class='themeTableCell themeTableCellCentered'>
			{{ThemeSelectionProbabilityByPopularityText}}
		</td>
		<td class='themeTableCell'>
			<form method='POST' style='display: inline-block;'>
				{{> csrf_token}}
				<div class="btn-group">
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						Action
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
						<li><button type="submit" name='action' value='deletetheme'
								class="btn btn-default">Delete</button></li>
						<li>
							<button type="submit" name='action' value='bantheme' class="btn btn-default">Ban</button>
						</li>
					</ul>
				</div>
				<input type='hidden' name='theme_id' value='{{{theme_id}}}'>
				<input type='hidden' name='pageid' value='managethemes'>
			</form>
		</td>
		{{/cookies.is_streamer}}
	</tr>
	{{/is_marked_for_deletion}}{{/banned}}{{/theme_visible}}
	{{/themes.suggested_themes}}
</table>

<h4>Banned Themes</h4>

<p>These themes cannot be suggested again until they are deleted or unbanned. </p>

<p>Unbanning theme returns them to the voting as if they were never banned (delete them if you just want to allow them to be suggested again). <strong>Do not delete these themes unless you want them unbanned!</strong> To add a theme to this list use the "Action" menu next to each theme.</p>

<table>
	<tr>
		<th class='themeTableCell themeTableCellCentered'>Select</th>
		<th class='themeTableCell themeTableCellCentered'>Status</th>
		<th class='themeTableCell themeTableCellCentered'>Theme</th>
		<th class='themeTableCell themeTableCellCentered'>Author</th>
		<th class='themeTableCell themeTableCellCentered'>Days Old</th>
		<th class='themeTableCell themeTableCellCentered'>Admin Actions</th>
	</tr>
	{{#themes.suggested_themes}}
	{{#banned}}
	{{^cookies.is_streamer}}
	<tr>
		<td class='themeTableCell themeTableCellCentered'>
			<input	 type="checkbox" name="selected-themes[]" value="{{{theme_id}}}" form="delete-themes">
		</td>
		<td class='themeTableCell themeTableCellCentered'>
			<img src='{{{page.template_path}}}images/ban.png' title='Banned'>
		</td>
		<td class='themeTableCell themeTableCellCentered'>{{theme}}</td>
		<td class='themeTableCell themeTableCellCentered'>{{author_username}}</td>
		<td class='themeTableCell themeTableCellCentered'>{{days_ago}}</td>
		<td class='themeTableCell'>
			<form method='POST' style='display: inline-block;'>
				{{> csrf_token}}
				<div class="btn-group">
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						Action
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
						<li><button type="submit" name='action' value='deletetheme' class="btn btn-default">Delete</button></li>
						<li><button type="submit" name='action' value='unbantheme' class="btn btn-default">Unban</button>
						</li>
					</ul>
				</div>
				<input type='hidden' name='theme_id' value='{{{theme_id}}}'>
				<input type='hidden' name='pageid' value='managethemes'>
			</form>
		</td>
	</tr>
	{{/cookies.is_streamer}}
	{{/banned}}
	{{/themes.suggested_themes}}
</table>

<div style="padding-top: 10px; padding-bottom: 10px;">
	<em>With selected: </em> 
	<button type="submit" name='action' value='deletethemes' form="delete-themes" class="btn btn-default" style="border: none; background-color: transparent;">
		<img src="{{{page.template_path}}}images/cross.png" height="20" width="20"> Delete
	</button>
</div>
