<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Hello {{user.username}}</h3>
	</div>
	<div class="panel-body">
		<ul id='mainmenu' style='padding-left: 12px;'>
			<li><a href='?page=main'>Home</a></li>
			<li><a href='?page=logout'>Log out</a></li>
			<li><a href='?page=submit'>Submit entry</a></li>
			<li><a href='?page=themes'>Suggest a theme</a></li>
			<li><a href='?page=rules'>Rules</a></li>
			<li><a href='?page=assets'>Assets</a></li>
			<br>
			<li><a href='?page=newjam'>Schedule jam</a></li>
			<li><a href='?page=config'>Configuration</a></li>
			<li><a href='?page=editcontent'>Manage content</a></li>
			<li><a href='?page=editusers'>Manage users</a></li>
		</ul>
	</div>
</div>