<div class="panel panel-info">
  <div class="panel-heading">
    {{#user}}
      <h3 class="panel-title">Hello {{user.display_name}}</h3>
      <form method='post'>
				{{> csrf_token}}
				<button type="submit" name='action' value='logout' class="btn btn-default">Log out</button>
      </form>
    {{/user}}
    {{^user}}
      <h3 class="panel-title">Menu</h3>
    {{/user}}
  </div>

	<div class="notifications-panel">
		{{#user}}
		{{^cookies.is_streamer}}
		{{#user.admin}}
		{{#themes.themes_must_be_pruned}}
		<div class="panel-body notification notification-major">
			<a href='?page=managethemes#markedfordeletion'><strong>Admins: </strong>Themes must be pruned.</a>
		</div>
		{{/themes.themes_must_be_pruned}}
		{{#users.missing_admin_candidate_votes}}
		<div class="panel-body notification notification-major">
			<a href='?page=editusers'><strong>Admin: </strong>{{{users.missing_admin_candidate_votes_number}}}
				admin candidate(s) need(s) your vote</a>
		</div>
		{{/users.missing_admin_candidate_votes}}
		{{/user.admin}}
		{{#themes.user_has_not_voted_for_all_themes}}
		{{^user.preferences.DISABLE_THEMES_NOTIFICATION}}
		<div class="panel-body notification notification-minor">
			<a href='?page=themes'>{{{themes.themes_user_has_not_voted_for}}}
				theme{{#themes.themes_user_has_not_voted_for_plural}}s{{/themes.themes_user_has_not_voted_for_plural}}
				need{{^themes.themes_user_has_not_voted_for_plural}}s{{/themes.themes_user_has_not_voted_for_plural}} your vote</a>
		</div>
		{{/user.preferences.DISABLE_THEMES_NOTIFICATION}}
		{{/themes.user_has_not_voted_for_all_themes}}
		{{/cookies.is_streamer}}
		{{/user}}
	</div>
	

	<div class="panel-body">
		<ul id='mainmenu'>
      <li><a href='?page=main'>Home</a></li>
      {{#user}}
      	{{#jams.current_jam}}
					{{^cookies.is_streamer}}
							<li><b><a href='?page=submit'>
								{{^user_participated_in_jam}}Submit game{{/user_participated_in_jam}}
								{{#user_participated_in_jam}}Edit game{{/user_participated_in_jam}}
							</a></b></li>
					{{/cookies.is_streamer}}
      	{{/jams.current_jam}}
				<li><b><a href='?page=themes'>Theme voting</a></b></li>
      {{/user}}
      {{^user}}
				<li><a href='?page=login'>Log in / register</a></li>
      {{/user}}
			<li><a href='?page=rules'>How it works</a></li>
			<li><a href='?page=assets'>Assets</a></li>
			<li><a href='?page=privacy'>Privacy</a></li>
      {{#user}}
				{{^cookies.is_streamer}}
					<li><a href='?page=userdata'>User Data</a></li>
				{{/cookies.is_streamer}}
      {{/user}}

			<li class="mainmenu-separator">Browse</li>
			<li><a href='?page=entries'>Games</a></li>
			<li><a href='?page=authors'>Developers</a></li>
			<li><a href='?page=jams'>Jams</a></li>

      {{#user}}
				<li class="mainmenu-separator">User</li>
				<li><a href='?page=author&author={{user.username}}'>Profile</a></li>
				{{^cookies.is_streamer}}
					<li><a href='?page=usersettings'>User Settings</a></li>
				{{/cookies.is_streamer}}
      {{/user}}

			<li class="mainmenu-separator">Misc</li>
			<li><a href='https://github.com/OneHourGameJam/OneHourGameJam/issues' target='_BLANK'>Report bug</a></li>
      {{#user}}
				{{#cookies.is_streamer}}
					<li><a href='?page=main&streaming=0'>Disable streamer Mode</a></li>
				{{/cookies.is_streamer}}
				{{^cookies.is_streamer}}
					<li><a href='?page=main&streaming=1'>Streamer Mode</a></li>
				{{/cookies.is_streamer}}
      {{/user}}
			{{#cookies.darkmode}}
				<li><a href='?page=main&darkmode=0'>Enable Light Mode</a></li>
			{{/cookies.darkmode}}
			{{^cookies.darkmode}}
				<li><a href='?page=main&darkmode=1'>Enable Dark Mode</a></span></li>
			{{/cookies.darkmode}}
      
      {{#user.admin}}
				{{^cookies.is_streamer}}
					<li class="mainmenu-separator">Administration</li>
					<li><a href='?page=newjam'>Schedule jam</a></li>
					<li><a href='?page=config'>Configuration</a></li>
					<li><a href='?page=managethemes'>Manage themes</a></li>
					<li><a href='?page=editcontent'>Manage content</a></li>
					<li><a href='?page=editusers'>Manage users</a></li>
					<li><a href='?page=polls'>Poll Results</a> <span class="new"></span></li>
					<li><a href='?page=adminlog'>Admin Log</a></li>
				{{/cookies.is_streamer}}
      {{/user.admin}}
      
			{{#cookies.is_streamer}}
				<li class="mainmenu-separator">Some menu items are hidden in streamer mode (<a href='?page=main&streaming=0'>Disable Streamer Mode</a>)</li>
			{{/cookies.is_streamer}}
		</ul>
    
    <div id="mainmenu-social">
		{{#CONFIG.VALUES.TWITTER_ACCOUNT}}
			<a href="https://twitter.com/{{CONFIG.VALUES.TWITTER_ACCOUNT}}" target='_blank'>
				<div class='mediaButton twitterButton'><img src='{{{page.template_path}}}images/twitter.png' style='width: 20px;' /> Follow</div>
			</a>
		{{/CONFIG.VALUES.TWITTER_ACCOUNT}}

		{{#CONFIG.VALUES.TWITCH_ACCOUNT}}
			<a href="https://twitch.tv/{{CONFIG.VALUES.TWITCH_ACCOUNT}}" target='_blank'>
				<div class='mediaButton twitchButton'><img src='{{{page.template_path}}}images/twitch.png' style='width: 20px;' /> Watch</div>
			</a>
		{{/CONFIG.VALUES.TWITCH_ACCOUNT}}

		{{#CONFIG.VALUES.IRC_CHAT_IN_BROWSER}}
			{{#CONFIG.VALUES.IRC_ADDRESS}}
				{{#CONFIG.VALUES.IRC_CHANNEL}}
					<a href="{{{CONFIG.VALUES.IRC_CHAT_IN_BROWSER}}}" target='_blank'>
						<div class='mediaButton ircButton'><img src='{{{page.template_path}}}images/irc.png' style='width: 20px;' /> IRC</div>
					</a>
				{{/CONFIG.VALUES.IRC_CHANNEL}}
			{{/CONFIG.VALUES.IRC_ADDRESS}}
		{{/CONFIG.VALUES.IRC_CHAT_IN_BROWSER}}

		{{#CONFIG.VALUES.DISCORD_INVITE_URL}}
			<a href="{{{CONFIG.VALUES.DISCORD_INVITE_URL}}}" target='_blank'>
				<div class='mediaButton discordButton'><img src='{{{page.template_path}}}images/discord.png' style='width: 20px;' /> Discord</div>
			</a>
		{{/CONFIG.VALUES.DISCORD_INVITE_URL}}
    </div>
	</div>
</div>
