<div class="panel panel-info hidden-xs hidden-sm">
	<div class="panel-heading">
		<h3 class="panel-title">Previous jams</h3>
	</div>
	<div class="panel-body">
		{{all_entries_count}} games made<br /><br />
		<ul id='jammenu' style='padding-left: 12px;'>
			{{#jams}}
				<a href='#' onclick='$("#jam{{jam_number}}").children(".jamContent").slideDown(); scr("#jam{{jam_number}}");'>{{jam_number_ordinal}} Jam</a><br />
			{{/jams}}
		</ul>
	</div>
</div>
<div class="panel panel-info hidden-xs hidden-sm">
	<div class="panel-heading">
		<h3 class="panel-title">Authors</h3>
	</div>
	<div class="panel-body">
		{{all_authors_count}} game authors<br /><br />
		<ul id='authorlist' style='padding-left: 12px;'>
			<li><a href='#' onclick='filterAuthor("showall");'>Show all</a></li>
			{{#authors}}
				<li><a href='#' onclick='filterAuthor("{{username}}"); return false;' id='author-{{username}}'>{{author_display}} ({{entry_count}})</a></li>
			{{/authors}}
		</ul>
	</div>
</div>