<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Menu</h3>
	</div>
	<div class="panel-body">
		<ul id='mainmenu' style='padding-left: 12px;'>
			<li><a href='?page=main'>Home</a></li>
			<li><a href='?page=login'>Log in / register</a></li>
			<li><a href='?page=rules'>How it works</a></li>
			<li><a href='?page=assets'>Assets</a></li>
			<br/>
			<li><a href='?page=entries'>Games</a></li>
			<li><a href='?page=authors'>Developers</a></li>
			<li><a href='?page=jams'>Jams</a></li>
		</ul>
		
		{{#CONFIG_TWITTER_ACCOUNT}}
			<a href="https://twitter.com/{{CONFIG_TWITTER_ACCOUNT}}" style='text-decoration: none;' target='_blank'>
				<div class='mediaButton twitterButton'><img src='{{{template_path}}}images/twitter.png' style='width: 20px;' /> Follow</div>
			</a>
		{{/CONFIG_TWITTER_ACCOUNT}}
		
		{{#CONFIG_TWITCH_ACCOUNT}}
			<a href="https://twitch.tv/{{CONFIG_TWITCH_ACCOUNT}}" style='text-decoration: none;' target='_blank'>
				<div class='mediaButton twitchButton'><img src='{{{template_path}}}images/twitch.png' style='width: 20px;' /> Watch</div>
			</a>
		{{/CONFIG_TWITCH_ACCOUNT}}
	</div>
</div>