<div class="col-md-10" id='loginform'>
	<p>
		<h3>Create a new jam</h3>
	</p>
	<form method='post'>
		<div class="form-group">
			<label for="theme">Jam theme</label> (Top themes:{{#top_themes}} <a href='#' id="select_theme_{{theme_button_id}}" onclick='SelectThemeForJam("select_theme_{{theme_button_id}}"); return false;'>{{{theme}}}</a>;{{/top_themes}})
			<input type="text" class="form-control" id="theme" name='theme' placeholder="Jam theme" required>
		</div>
		<div class="form-group">
			<label for="date">Jam date</label>
			<input type="date" class="form-control" id="date" name='date' placeholder="" value='{{next_jam_suggested_date}}' required>
		</div>
		<div class="form-group">
			<label for="time">Jam start time (in UTC - Jam theme will only become visible once this date and time passes)</label>
			<input type="time" class="form-control" id="time" name='time' value='{{next_jam_suggested_time}}' placeholder="" required>
		</div>
		<div class="form-group">
			<label for="jamcolors">Jam colours (Users can choose between these to customize their game's appearance on the site)</label>
			<input type="text" class="form-control" id="jamcolors" name='jamcolors' value='{{CONFIG_DEFAULT_JAM_COLORS}}' placeholder="" required>
		</div>
		<button type="submit" name='action' value='newjam' class="btn btn-default">New jam</button>
	</form>
</div>
<script type='text/javascript'>
	function SelectThemeForJam(themeButtonID){
		var themeText = $("#"+themeButtonID).text();
		$("#theme").val(themeText);
	}
</script>