<div class="col-md-10" id='loginform'>
	<p>
		<h3>Create a new jam</h3>
	</p>
	<form method='post'>
		<div class="form-group">
			<label for="theme">Jam theme</label> (Top themes:{{#top_themes}} <a href='#' id="select_theme_{{theme_button_id}}" onclick='SelectThemeForJam("select_theme_{{theme_button_id}}"); return false;'>{{{theme}}}</a>;{{/top_themes}})
			<input type="text" class="form-control" id="theme" name='theme' placeholder="Jam theme" required>
		</div>
		<div class="form-group">
			<label for="date">Jam date</label>
			<input type="date" class="form-control" id="date" name='date' placeholder="" value='{{next_jam_suggested_date}}' required>
		</div>
		<div class="form-group">
			<label for="time">Jam start time (in UTC - Jam theme will only become visible once this date and time passes)</label>
			<input type="time" class="form-control" id="time" name='time' value='{{next_jam_suggested_time}}' placeholder="" required>
		</div>
		<div class="form-group">
			<label for="jamcolors">Jam colours (Users can choose between these to customize their game's appearance on the site)</label><br>

			<label for="jamcolors">Number of Colours</label>
			<div class="slidecontainer">
				<input type="number" min="1" max="{{CONFIG.VALUES.MAX_COLORS_FOR_JAM}}" value="{{CONFIG.VALUES.DEFAULT_NUMBER_OF_COLORS}}" class="form-control" id="NumberOfColors" onchange="UpdateNumberOfColors();">
			</div>

			<label for="jamcolors">Saturation</label>
			<div class="slidecontainer">
				<input type="range" min="0" max="256" value="{{CONFIG.VALUES.DEFAULT_SATURATION}}" class="slider" id="Saturation" oninput="UpdateAutoJamcolors();">
			</div>

			<label for="jamcolors">Brightness</label>
			<div class="slidecontainer">
				<input type="range" min="0" max="256" value="{{CONFIG.VALUES.DEFAULT_BRIGHTNESS}}" class="slider" id="Brightness" oninput="UpdateAutoJamcolors();">
			</div>

			<label for="jamcolors">Min Hue</label>
			<div class="slidecontainer">
				<input type="range" min="0" max="256" value="{{CONFIG.VALUES.DEFAULT_HUE_MIN}}" class="slider" id="MinHue" oninput="UpdateAutoJamcolors();">
			</div>

			<label for="jamcolors">Max Hue</label>
			<div class="slidecontainer">
				<input type="range" min="0" max="256" value="{{CONFIG.VALUES.DEFAULT_HUE_MAX}}" class="slider" id="MaxHue" oninput="UpdateAutoJamcolors();">
			</div>

			<span id="ColorPreviews">

			</span>
		</div>
		<button type="submit" name='action' value='newjam' class="btn btn-default">New jam</button>
	</form>
</div>
<script type='text/javascript'>
	function SelectThemeForJam(themeButtonID){
		var themeText = $("#"+themeButtonID).text();
		$("#theme").val(themeText);
	}

	function UpdateNumberOfColors(){
		$("#ColorPreviews").empty();
		var numberOfColors = parseInt($("#NumberOfColors").val());
		for(var i = 0; i < numberOfColors; i++){
			var tag = jQuery.parseHTML("<input type='text' class='form-control color-preview' id='jamcolor"+i+"' name='jamcolor"+i+"' value='' placeholder='Color Hex' onchange='PreviewJamColor(\"jamcolor"+i+"\");' style='background-color: #ffffff; color: black;' maxlength='6'>");
			$("#ColorPreviews").append(tag);
		}
		UpdateAutoJamcolors();
	}

	function UpdateAutoJamcolors(){
		var sat = parseInt($("#Saturation").val());
		var bri = parseInt($("#Brightness").val());
		var minHue = parseInt($("#MinHue").val());
		var maxHue = parseInt($("#MaxHue").val());
		var numberOfColors = $(".color-preview").length;

		var hueDiff = (maxHue - minHue);
		if(hueDiff < 0){
			maxHue += 256;
			hueDiff = (maxHue - minHue);
		}

		for(var i = 0; i < numberOfColors; i++){
			var percent = (1.0 * i) / (numberOfColors - 1);
			var hue = minHue + (percent * hueDiff);
			var rgb = hsl2rgb((hue % 256) / 255, sat / 255, bri / 255);

			var r = rgb.r.toString(16);
			var g = rgb.g.toString(16);
			var b = rgb.b.toString(16);

			if(r.length == 1){ r = "0"+r; }
			if(g.length == 1){ g = "0"+g; }
			if(b.length == 1){ b = "0"+b; }

			$("#jamcolor"+i).val(r+g+b);
			$("#jamcolor"+i).css("background-color", "#"+r+g+b);
		}
	}

	function PreviewJamColor(colorInputFieldIS){
		var colorHex = $("#"+colorInputFieldIS).val();
		$("#"+colorInputFieldIS).css("background-color", "#"+colorHex);
	}

	function hsl2rgb(h, s, l) {
		var r, g, b;
		if (s == 0) {
			r = g = b = l; // achromatic
		} else {
			function hue2rgb(p, q, t) {
				if (t < 0) t += 1;
				if (t > 1) t -= 1;
				if (t < 1/6) return p + (q - p) * 6 * t;
				if (t < 1/2) return q;
				if (t < 2/3) return p + (q - p) * (2/3 - t) * 6;
				return p;
			}

			var q = l < 0.5 ? l * (1 + s) : l + s - l * s;
			var p = 2 * l - q;

			r = hue2rgb(p, q, h + 1/3);
			g = hue2rgb(p, q, h);
			b = hue2rgb(p, q, h - 1/3);
		}

		return { r: Math.min(255, parseInt(r * 255)), g: Math.min(255, parseInt(g * 255)), b: Math.min(255, parseInt(b * 255)) };
	}

	UpdateNumberOfColors();
	UpdateAutoJamcolors();
</script>