<div class="col-md-10" id='loginform'>
	<p>
		<h3>Create a new jam</h3>
	</p>
	<form method='post'>
		<div class="form-group">
			<label for="theme">Jam theme</label>
			<input type="text" class="form-control" id="theme" name='theme' placeholder="Jam theme" required>
		</div>
		<div class="form-group">
			<label for="date">Jam date</label>
			<input type="date" class="form-control" id="date" name='date' placeholder="" required>
		</div>
		<div class="form-group">
			<label for="time">Jam start time (Jam theme will only become visible once this date and time passes)</label>
			<input type="time" class="form-control" id="time" name='time' placeholder="" required>
		</div>
		<button type="submit" name='action' value='newjam' class="btn btn-default">New jam</button>
	</form>
</div>