{{#CONFIG.VALUES.NOTIFICATION}}
    <div class="row notificationRow">
        <div class="col-md-12 alignCenter">
            <div class="alert alert-warning notificationContainer">
                {{#CONFIG.VALUES.NOTIFICATION_IMAGE}}
                    {{#CONFIG.VALUES.NOTIFICATION_URL}}
                        <a href='{{CONFIG.VALUES.NOTIFICATION_URL}}' target='_BLANK'>
                    {{/CONFIG.VALUES.NOTIFICATION_URL}}
                    <img src='{{CONFIG.VALUES.NOTIFICATION_IMAGE}}' class='notificationImage'>
                    {{#CONFIG.VALUES.NOTIFICATION_URL}}
                        </a>
                    {{/CONFIG.VALUES.NOTIFICATION_URL}}
                {{/CONFIG.VALUES.NOTIFICATION_IMAGE}}
                {{{CONFIG.VALUES.NOTIFICATION}}}
            </div>
        </div>
    </div>
{{/CONFIG.VALUES.NOTIFICATION}}