<div class="col-md-10" id='loginform'>
	<p>
		<h3>Privacy</h3>
	</p>
	<p>
		This page outlines the data which is collected and stored, how it is transmitted and stored, why it is stored and how you can control this. We're a tiny operation who fully support your ability to control your own data.
	</p>
	<p>
		<h4>What we collect and store</h4>
		
		<ul>
			<li>For each user, the following user data is stored:</li>
			<ul>
				<li>User ID (number used to identify each user internally)</li>
				<li>User registration date and time</li>
				<li>Username</li>
				<li>User registration IP address</li>
				<li>User registration User Agent (browser and operating system data)</li>
				<li>Display name (set in Configuration)</li>
				<li>Password validation information (salt, hashed password, number of hashing iterations)</li>
				<li>Last login date and time</li>
				<li>Last login IP address</li>
				<li>Last login User Agent (browser and operating system data)</li>
				<li>Email address (set in Configuration)</li>
				<li>Twitter handle (set in Configuration)</li>
				<li>Bio (set in Configuration)</li>
				<li>Current role (user or administrator)</li>
				<li>Last login IP address</li>
			</ul>
			
			<li>For each suggested theme, the following user data is stored:</li>
			<ul>
				<li>Submission date and time</li>
				<li>IP Address and User Agent of user who suggested it</li>
				<li>Username of user who suggested it</li>
				<li>Theme text (user entered)</li>
			</ul>
			
			<li>For each suggested theme vote, the following user data is stored:</li>
			<ul>
				<li>Date and time when vote was cast</li>
				<li>IP Address and User Agent of user who cast the vote</li>
				<li>Username of user who cast the vote</li>
				<li>Theme which was voted on</li>
				<li>Cast vote (-1, 0, +1)</li>
			</ul>
			
			<li>For each submitted game (often called an entry), the following user data is stored:</li>
			<ul>
				<li>Date and time when the entry was submitted</li>
				<li>IP Address and User Agent of user who submitted the entry</li>
				<li>Title of entry (user entered)</li>
				<li>Description of entry (user entered)</li>
				<li>Username of user who submitted the entry</li>
				<li>URLs to where the entry is hosted (user entered; Web, Windows, Linux, Mac, Android, iOS, Source and Other)</li>
				<li>Screenshot image for entry (uploaded by user)</li>
				<li>Entry color (selected by user)</li>
			</ul>
			
			<li>For each poll vote, the following user data is stored:</li>
			<ul>
				<li>The option which was voted for</li>
				<li>The username of the user who voted</li>
			</ul>
			
			<li>For each satisfaction vote, the following user data is stored:</li>
			<ul>
				<li>Date and time when the vote was cast</li>
				<li>IP Address and User Agent of user who cast the vote</li>
				<li>The question identifier which was voted on (for example JAM_160 when casting a satisfaction vote for jam 160)</li>
				<li>The option which was voted for</li>
				<li>The username of the user who voted</li>
			</ul>
			
			<li>For each user session, the following user data is stored:</li>
			<ul>
				<li>The ID of the logged in user</li>
				<li>Date and time when the session started</li>
				<li>Hashed session ID</li>
			</ul>
			
			<li>For each administrative action (scheduling jams, changing user roles, deleting themes, etc.), the following user data is stored:</li>
			<ul>
				<li>Date and time when the log was created</li>
				<li>IP Address and User Agent of administrator who triggered the event</li>
				<li>The username of the administrator who triggered the event</li>
				<li>The username of the subject the event relates to</li>
				<li>A human readable descriptor of the event, which may include user data relevant to the event. The specific user data may be any of the following: User ID, Date and time of any kind, Username, IP Address, User Agent, User-entered content, Password hashes, Email address, Twitter handle, Role or anything else from this privacy document.</li>
			</ul>
			
			<li>For each administion candidate vote the following user data is stored:</li>
			<ul>
				<li>Date and time the vote was cast</li>
				<li>IP Address and User Agent of administrator who cast the vote</li>
				<li>The username of the administrator who cast the vote</li>
				<li>The username of the person being voted on</li>
				<li>The type of vote cast: Sponsor (administrator suggests the user as an admin candidate), for, neutral, against, veto</li>
			</ul>
		</ul>
	</p>
	<p>
		<h4>How data is transmitted and stored</h4>
		
		<p>
			All data is transmitted encrypted via HTTPS. This includes passwords and session IDs. Session IDs are stored in cookies.
		</p>
		<p>
			All data is stored in plaintext, except passwords and session IDs. These are salted, peppered and hashed with SHA256 between 10000 and 20000 times (random number for each user). The result is stored. This same process is done again whenever a password or session ID is provided and the result is checked against the stored hashed values. As far as we're aware, this method means a breech of our database would not result in username/password combinations being obtainable through brute-forcing with current technology. Weak passwords are however easily obtainable no matter what encryption we use.
		</p>
	</p>
	<p>
		<h4>Why data is stored</h4>
		
		<ul>
			<li>
				User IDs and usernames are stored to determine which user is related to each bit of content.
			</li>
			<li>
				Event dates and times, IP Addresses and User Agent information is stored to identify users in cases of abuse and user's level of activity.
			</li>
			<li>
				Usernames, password validation information, session IDs and the user's role are stored to authenticate and authorize users.
			</li>
			<li>
				Email addresses, Twitter handles, Bio, Theme text, Cast vote, Entry title, Entry description, Entry URLs, Entry image, Entry color, Voted for option and any other user-entered fields are considered voluntarily entered. Removing these fields (e.g. submitting them as blank) will (unless otherwise stated upon submission) remove them from public visibility, the old versions may however remain in logs or administrator-only tools. See "How can you control your data" for more details.
			</li>
			<li>
				For theme votes, poll votes and satisfaction votes, the cast votes are directly tied to the user who cast them. This is done to ensure each user can only cast one vote and to indicate to the user what they voted for. In the case of theme votes, it is so we can color the currently-voted-for option. This is also done to mittigate cases of vote abuse or to check what different groups of users voted for - for example select only what recent participants voted for. This does mean that there is enough data available to check what each user individually has voted for (themes, polls and satisfaction).
			</li>
			<li>
				The data in the administration log is stored to identify abuse, determine administrator activity and to reverse accidental or malicious changes.
			</li>
			<li>
				The data in the administration candidate vote is stored to help determine which candidates should be given the administration role.
			</li>
		</ul>
	</p>
	<p>
		<h4>How you can control your data</h4>
		
		<p>
			If you wish to get a copy of all the data we have on you, please click the link labeled "<a href='?page=userdata'>User Data</a>" in the menu, or visit us on Discord by clicking the button in the page's header and ask for an administrator. We'll need to authenticate you first though.
		</p>
		<p>
			If you wish us to delete the data we have, please visit us on Discord by clicking the button in the page's header and ask for an administrator. We'll need to authenticate you first though.
		</p>
	</p>
	<p>
		<h4>Validate these claims</h4>
		
		<p>
			This software is open-source. Please feel free to validate these claims by examining the code for yourself. The code is linked in the page's footer.
		</p>
	</p>
</div>