<div class="col-md-10" id='rules'>
	<p>
		<h3>Rules</h3>
	</p>
	<p>
		One hour game jam takes place every <a href='https://www.google.com/search?q=20%3A00+UTC'>Saturday at 20:00 UTC</a>. At the start of the hour, a theme is announced in the IRC channel. You then have about an hour (we give you some flexibility) to submit a link to your game here on this website. You are free to use premade assets but it is recommended that you do make at least one game from scratch.
	</p>
	<p>
		Then at about 21:30 UTC the bitslap brothers will stream themselves playing each of the games on <a href='http://www.twitch.tv/bitslap'>twitch.tv/bitslap</a>. The stream usually lasts about 2 hours.
	</p>
</div>