<div class="satisfacitonContainer">
    <div class="satisfactionStar satisfactionStarRed">{{score_minus_5}}</div>
    <div class="satisfactionStar satisfactionStarRed">{{score_minus_4}}</div>
    <div class="satisfactionStar satisfactionStarRed">{{score_minus_3}}</div>
    <div class="satisfactionStar satisfactionStarRed">{{score_minus_2}}</div>
    <div class="satisfactionStar satisfactionStarYellow">{{score_minus_1}}</div>
    <div class="satisfactionStar satisfactionStarYellow">{{score_0}}</div>
    <div class="satisfactionStar satisfactionStarYellow">{{score_plus_1}}</div>
    <div class="satisfactionStar satisfactionStarGreen">{{score_plus_2}}</div>
    <div class="satisfactionStar satisfactionStarGreen">{{score_plus_3}}</div>
    <div class="satisfactionStar satisfactionStarGreen">{{score_plus_4}}</div>
    <div class="satisfactionStar satisfactionStarGreen">{{score_plus_5}}</div>
</div>