<script type='text/javascript'>
	function VoteTheme(themeID, vote, btn_id){
		$.get("api/themevote?themeID="+themeID+"&vote="+vote, function(data){
			var d = jQuery.parseJSON(data)

			$("#"+btn_id+"-1").removeClass("btn-danger");
			$("#"+btn_id+"-2").removeClass("btn-warning");
			$("#"+btn_id+"-3").removeClass("btn-success");
			if(vote == 1){
				$("#"+btn_id+"-"+vote).addClass("btn-danger");
			}
			if(vote == 2){
				$("#"+btn_id+"-"+vote).addClass("btn-warning");
			}
			if(vote == 3){
				$("#"+btn_id+"-"+vote).addClass("btn-success");
			}
		});
    }
    
	function SubmitThemeIdeas(themeID, ideasTextInputId){
        var ideasUrlEncoded = encodeURI($("#"+ideasTextInputId).val());
		$("#"+ideasTextInputId).removeClass("btn-danger");
		$("#"+ideasTextInputId).removeClass("btn-success");
		$("#"+ideasTextInputId).addClass("btn-warning");
		$.get("api/submitideas?themeID="+themeID+"&ideas="+ideasUrlEncoded, function(data){
			var d = jQuery.parseJSON(data)

            $("#"+ideasTextInputId).removeClass("btn-danger");
		    $("#"+ideasTextInputId).removeClass("btn-success");
            $("#"+ideasTextInputId).removeClass("btn-warning");
            console.log("TRY");
			if(d.SUCCESS){
                console.log("SUCCESS");
				$("#"+ideasTextInputId).addClass("btn-success");
			}
			if(d.ERROR){
                console.log("ERROR");
				$("#"+ideasTextInputId).addClass("btn-danger");
			}
		});
	}
</script>

<h3>Jam theme suggestions</h3>
<h4>Suggest a theme</h4>

<p>
    Each jam has a theme, these are selected based on your suggestions. Once submitted, other users will cast their votes. You can suggest up to {{CONFIG.PRETTY_PRINT.THEMES_PER_USER}} themes and can delete your suggested themes.
</p>
<form method='post'>
    {{> csrf_token}}
	<div class="form-group">
		<label for="theme">Theme</label>
		<input type="text" class="form-control" id="theme" name='theme' placeholder="Theme" value="" required>
		<button type="submit" name='action' value='savenewtheme' class="btn btn-default">Suggest Theme</button>
	</div>
</form>

<h4>Theme Voting</h4>

<p>
	Here you can vote on the themes you would like to appear in jams. 
</p>
<p>
	Themes suggested above will appear in this list. Once a theme receives enough votes, it becomes considered for a jam, depending on its popularity. Themes which don't perform as well as others regularly get removed, the threshold for removal however depends on the popularity of the other suggested themes. Old themes are also removed to make way for new ones, irrespective of their popularity as the votes for them likely no longer represent the opinion of currently active participants. Any theme that gets removed due to unpopularity or age can be suggested again at any point.
</p>

<h4>Your themes</h4>

<p>
    Here you can manage your suggested themes and see their selection probability. Keep in mind that because of the number of themes, the probability for any individual theme will still tend to be low.
</p>

{{#cookies.is_streamer}}
    <p class='bold'>
        Please disable streamer mode to vote on themes and manage your suggestions.
    </p>
{{/cookies.is_streamer}}
{{^cookies.is_streamer}}
    {{#themes.has_own_themes}}
        <table style='width: 100%;'>
            <tr>
                <th colspan='3' class='themeTableCell themeTableCellCentered'>
                    Vote
                </th>
                <th class='themeTableCell themeTableCellCentered'>
                    Theme
                </th>
                {{#CONFIG.VALUES.DISPLAY_THEME_PROBABILITY}}
                    <th class='themeTableCell themeTableCellCentered'>
                        Likelihood
                    </th>
                {{/CONFIG.VALUES.DISPLAY_THEME_PROBABILITY}}
                <th class='themeTableCell themeTableCellCentered' style='width: 100%;'>
                    Ideas (only visible to you)
                </th>
            </tr>
            {{#themes.suggested_themes}}
            {{#theme_visible}}
            {{#is_own_theme}}
            {{^banned}}
            <tr>
                <td class='themeTableCell'>
                    <button id="{{{theme_button_id}}}-3" type="button" name='action' value='bantheme'
                        class="btn btn-default {{#user_vote_for}}btn-success{{/user_vote_for}}"
                        onclick='VoteTheme("{{{theme_id}}}", 3, "{{{theme_button_id}}}");'>+1</button>
                </td>
                <td class='themeTableCell'>
                    <button id="{{{theme_button_id}}}-2" type="button" name='action' value='bantheme'
                        class="btn btn-default {{#user_vote_neutral}}btn-warning{{/user_vote_neutral}}"
                        onclick='VoteTheme("{{{theme_id}}}", 2, "{{{theme_button_id}}}");'>0</button>
                </td>
                <td class='themeTableCell'>
                    <button id="{{{theme_button_id}}}-1" type="button" name='action' value='bantheme'
                        class="btn btn-default {{#user_vote_against}}btn-danger{{/user_vote_against}}"
                        onclick='VoteTheme("{{{theme_id}}}", 1, "{{{theme_button_id}}}");'>-1</button>
                </td>
                <td class='themeTableCell'>
                    {{{theme}}}
                </td>
                {{#CONFIG.VALUES.DISPLAY_THEME_PROBABILITY}}
                    <td class='themeTableCell themeTableCellCentered'>
                        {{{UserThemeSelectionProbabilityByVoteDifferenceText}}}
                    </td>
                {{/CONFIG.VALUES.DISPLAY_THEME_PROBABILITY}}
                <th class='themeTableCell themeTableCellCentered'>
                    <input type="text" class="form-control" name="ideas" id="ideas-{{theme_id}}" placeholder="Enter some game ideas (optional)" value='{{ideas}}' onchange='SubmitThemeIdeas({{theme_id}}, "ideas-{{theme_id}}");' maxlength="240">
                </th>
                <td class='themeTableCell'>
                    <form method='POST' style='display: inline-block;' onsubmit="return confirm('Are you sure you want to delete your theme {{theme}}?');">
                        {{> csrf_token}}
                        <button type="submit" name='action' value='deletetheme' class="btn btn-default"><img src="{{{page.template_path}}}images/cross.png" height="20" width="20"> &nbsp;Delete</button>
                        <input type='hidden' name='theme_id' value='{{{theme_id}}}'>
                        <input type='hidden' name='pageid' value='themes'>
                    </form>
                </td>
            </tr>
            {{/banned}}
            {{/is_own_theme}}
            {{/theme_visible}}
            {{/themes.suggested_themes}}
        </table>
    {{/themes.has_own_themes}}
    {{^themes.has_own_themes}}
        <p><b>You haven't suggested any themes!</b></p>
    {{/themes.has_own_themes}}
{{/cookies.is_streamer}}

<h4>Other Themes</h4>

{{#themes.has_other_themes}}
    <table style='width: 100%;'>
        <tr>
            <th colspan='3' class='themeTableCell themeTableCellCentered'>
                Vote
            </th>
            <th class='themeTableCell themeTableCellCentered'>
                Theme
            </th>
            <th class='themeTableCell themeTableCellCentered' style='width: 100%;'>
                Ideas (only visible to you)
            </th>
        </tr>
        {{#themes.suggested_themes}}
            {{^banned}}
                {{#theme_visible}}
                    {{#cookies.is_streamer}}
                        <tr>
                            <td class='themeTableCell'>
                                <div class="btn btn-default" disabled>+1</div>
                            </td>
                            <td class='themeTableCell'>
                                <div class="btn btn-default" disabled>0</div>
                            </td>
                            <td class='themeTableCell'>
                                <div class="btn btn-default" disabled>-1</div>
                            </td>
                            <td class='themeTableCell'>
                                {{{theme}}}
                            </td>
                            <th class='themeTableCell themeTableCellCentered'>
                                <input type="text" class="form-control" name="ideas" id="ideas-{{theme_id}}" placeholder="Hidden in streamer mode" value='' maxlength="240" disabled>
                            </th>
                        </tr>
                    {{/cookies.is_streamer}}
                    {{^cookies.is_streamer}}
                        {{^is_own_theme}}
                            <tr>
                                <td class='themeTableCell'>
                                    <button id="{{{theme_button_id}}}-3" type="button" name='action' value='bantheme'
                                        class="btn btn-default {{#user_vote_for}}btn-success{{/user_vote_for}}"
                                        onclick='VoteTheme("{{{theme_id}}}", 3, "{{{theme_button_id}}}");'>+1</button>
                                </td>
                                <td class='themeTableCell'>
                                    <button id="{{{theme_button_id}}}-2" type="button" name='action' value='bantheme'
                                        class="btn btn-default {{#user_vote_neutral}}btn-warning{{/user_vote_neutral}}"
                                        onclick='VoteTheme("{{{theme_id}}}", 2, "{{{theme_button_id}}}");'>0</button>
                                </td>
                                <td class='themeTableCell'>
                                    <button id="{{{theme_button_id}}}-1" type="button" name='action' value='bantheme'
                                        class="btn btn-default {{#user_vote_against}}btn-danger{{/user_vote_against}}"
                                        onclick='VoteTheme("{{{theme_id}}}", 1, "{{{theme_button_id}}}");'>-1</button>
                                </td>
                                <td class='themeTableCell'>
                                    {{{theme}}}
                                </td>
                                <th class='themeTableCell themeTableCellCentered'>
                                    <input type="text" class="form-control" name="ideas" id="ideas-{{theme_id}}" placeholder="Enter some game ideas (optional)" value='{{ideas}}' onchange='SubmitThemeIdeas({{theme_id}}, "ideas-{{theme_id}}");' maxlength="240">
                                </th>
                            </tr>
                        {{/is_own_theme}}
                    {{/cookies.is_streamer}}
                {{/theme_visible}}
            {{/banned}}
        {{/themes.suggested_themes}}
    </table>
{{/themes.has_other_themes}}
{{^themes.has_other_themes}}
    <p><b>Nobody has suggested other themes.</b></p>
{{/themes.has_other_themes}}

