
<div class='panel panel-info'>
    <div class='panel-heading jamHeader'>
        <div class="container jamHeaderContainer">
            <div class="row jamHeaderRow">
                <div class="col-xs-12">
                    <h1 class="pageHeading">{{display_name}}</h1>
                    {{{#page.author_bio}}}
                        {{{page.author_bio}}}
                    {{{/page.author_bio}}}
                </div>
            </div>
        </div>
    </div>
</div>