<div class="col-md-10" id='loginform'>
	<p>
		<h3>User Data</h3>
	</p>
	<p>
		This page shows the data we have about the currently logged in user. In most cases the data is directly from the database, in some cases some additional data is added to clarify what various IDs mean, for eaxmple for poll votes, the question and option are also included, for theme votes the selected option is translated from the internal representation of 1, 2 and 3 to -1, 0 and +1 respectively.
	</p>
	<p>
		<h4>Users</h4>
		{{{userdata_users}}}
		
		<h4>Entries</h4>
		{{{userdata_entries}}}
		
		<h4>Themes</h4>
		{{{userdata_themes}}}
		
		<h4>Theme Votes</h4>
		{{{userdata_theme_votes}}}
		
		<h4>Assets</h4>
		{{{userdata_assets}}}
		
		<h4>Poll Votes</h4>
		{{{userdata_poll_votes}}}
		
		<h4>Satisfaction</h4>
		{{{userdata_satisfaction}}}
		
		<h4>Jams</h4>
		{{{userdata_jams}}}
		
		
	</p>
</div> 