body{
	background-color: #EFEFEF;
}


.jamHeader{
  cursor: pointer;
  border-bottom: 0px;
}

.jamContent{
    background-color: #F7FBFD;
}

.jamHeader:hover{
	background-color: #CCE7F4;
}

.panel{
	border-radius: 0px;
}

.panel-footer{
	border-radius: 0px;
}

.panel-heading{
	border-radius: 0px;
}

.notification-minor {
  background-color: #fcffdc;
}

.notification-major {
  background-color: #ffdcea;
}

.notification {
  padding: 5px;
  text-align: center;
  line-height: 16px;
}

.notifications-panel {
  border-bottom:1px solid #bce8f1;
  margin-bottom:1rem;
}

#mainmenu {
  list-style-type: none;
  padding-left: 0;
  margin: -15px;
  margin-bottom: 15px;
}

#mainmenu li {
  padding: 1px 7px;
}
#mainmenu li.mainmenu-separator {
  border-top: 1px solid white;
  margin-top: -1px;
  color: #777777;
  font-size: 10px;
  text-transform: uppercase;
  padding-top: 12px;
}
#mainmenu-social {
  text-align: center;
}
#mainmenu-social a {
  display: inline-block;
  text-decoration: none;
}

.new::before {
  content: 'New!';
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  vertical-align: middle;
}

.updated::before {
  content: 'Updated!';
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  vertical-align: middle;
}

.entryScreenshot{
	position: absolute;
	border: solid 1px #DDDDDD;
	transform: scale(1, 1);
	transition: 0.3s;
	width: 100%;
}
.entryScreenshot.hiddenFace{
	transform: scale(0, 1);
	transition: 0.1s;
}

.entryName{
	border: solid 1px #DDDDDD;
	border-top: 0px;
}

.entryPlayIcon{
	width: 24px;
}

.entryDescription{
	margin: 10px 0;
	padding: 5px;
	border-top: 1px solid rgba(0,0,0,0.5);
	border-bottom: 1px solid rgba(0,0,0,0.5);
	line-height: 14px;
}

.entryButton{
	border: 1px solid rgba(0,0,0,0.4);
	padding: 4px;
}
.entryButton:hover{
	border: 1px solid rgba(0,0,0,1);
}

.entry{
    color: black;
}

.form-control{
	border-radius: 0px;
}

.alignCenter{
    text-align: center;
}

.alignRight{
    text-align: center;
}

.fullWidth{
	width: 100%;
}

.maxFullWidth{
	max-width: 100%;
}

.btn{
	border-radius: 0px;
}

.themeTableCell{
  padding: 3px 3px;
  min-width: 30px;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 250px;
}

.themeTableCellCentered{
	text-align: center;
}

.theme-to-delete{
  background-color:rgba(255,0,0,0.5);
}

.wrapper {
  width: 100%;
  /* whatever width you want */
  display: inline-block;
  position: relative;
}
.wrapper:after {
  padding-top: 56.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}
.main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* fill parent */
  background-color: deepskyblue;
  /* let's see it! */
  color: white;
}

.trumbowyg {
  background-color: white;
  border: 1px solid #CCCCCC;
  margin-top: 0;
  min-height: 150px;
}

.trumbowyg-editor {
  min-height: 150px;
}

.profileMediaButton{
  min-width: 100px;
  border-radius: 5px;
  color: white;
  text-align: center;
  padding: 4px;
  height: 29px;
  border: 0px;
  margin-bottom: 1px;
}

.profileMediaButtonText{
  position: relative;
  top: -1px;
}

.mediaButton{
  min-width: 100px;
  border-radius: 5px;
  color: white;
  text-align: center;
  padding: 4px;
  margin-bottom: 5px;
  display: inline-block;
  height: 29px;
  border: 0px;
}

.becomeStreamerButton{
  background-color: #6441A5;
  text-decoration: none;
}

.becomeStreamerButton:hover{
  background-color: #472B7C;
  text-decoration: none;
}

.stopBeingStreamerButton{
  background-color: #6441A5;
  text-decoration: none;
}

.stopBeingStreamerButton:hover{
  background-color: #472B7C;
  text-decoration: none;
}

.submitGameButton{
  background-color: #FF0066;
  text-decoration: none;
}

.submitGameButton:hover{
  background-color: #D20054;
  text-decoration: none;
}

.twitterButton{
  background-color: #1B95E0;
  text-decoration: none;
}

.twitterButton:hover{
  background-color: #0C7ABF;
  text-decoration: none;
}

.twitchButton{
  background-color: #6441A5;
  text-decoration: none;
}

.twitchButton:hover{
  background-color: #472B7C;
  text-decoration: none;
}

.ircButton{
	background-color: #777777; 
}

.ircButton:hover{
	background-color: #4B4B4B; 
}

.discordButton{
	background-color: #7289DA; 
}

.discordButton:hover{
	background-color: #6676AE; 
}
.githubButton{
  background-color: #292929;
}
.githubButton:hover{
  background-color: #000000;
}

.logoutButton{
  background-color: #777777;
}

.logoutButton:hover{
  background-color: #4B4B4B;
}

.profileDropdown {
  background-color: #777777;
  color: white;
}

.profileDropdown:hover, .profileDropdown:link, .profileDropdown:visited, .profileDropdown:active {
  background-color: #4B4B4B;
  color: white;
}

.profileDropdown .active, .profileDropdown .focus, .open>.dropdown-toggle.profileDropdown {
  background-color: #4B4B4B;
  color: white;
}

.loginButton{
  background-color: #777777;
}

.loginButton:hover{
  background-color: #4B4B4B;
}

.authorPageEntry{
  background-color: #F5F5F5;
}

.bold{
  font-weight: bold;
}

.cookieNotice{
  position: fixed;
  bottom: 1.5%;
  z-index: 999;
  padding: 10px 15px;
  text-align: left;

  width: 50%;
  margin-right: 25%;
  margin-left: 25%;

  border-radius: 10px;

  background: #576065;
  color: white;

  font-size: 15px;
  line-height: 25px;

  animation: 2s slide-up;
}

@keyframes slide-up {
  from {
    bottom: -15%;
  }

  25%{
    bottom: -15%;
  }

  to {
    bottom: 1.5%;
  }
}

.cookieNotice>.btn-xs{
  color: white;
}

.sortableHeader{
  cursor: pointer;
}

.assetImage{
  max-width: 600px; 
  max-height: 200px; 
  border: 0;
}

.authorEntry{
  height: 40px;
}

.authorEntryImageContainer{
  width: 220px;
}

.authorEntryImage{
  max-height: 200px;
}

.searchInputField{
  margin-bottom: 10px;
}

.configTextarea{
  min-height: 150px;
}

.cookieHeader{
  margin: -5px 0 5px 0;
}

.contentJamHeaderFont{
  font-size: 16px;
}

.contentEntryHeader{
  padding-left: 0px; 
  padding-right: 0px;
}

.contentEntryDeletedHeader{
  background-color: #FDF7F7;
}

.contentEntryContent{
  text-align: center;
}

.satisfacitonContainer{
  width: 100%; 
  text-align: center;
}

.satisfactionStarGreen{
  background: url({{{page.template_path}}}images/star_green_outline.png);
  background-size: 16px 16px;
}

.satisfactionStarYellow{
  background: url({{{page.template_path}}}images/star_yellow_outline.png);
  background-size: 16px 16px;
}

.satisfactionStarRed{
  background: url({{{page.template_path}}}images/star_red_outline.png);
  background-size: 16px 16px;
}

.satisfactionStar{
  height: 16px; 
  width:16px; 
  display: inline-block;
}

.platformsIconColumn{
  width: 40px;
}

.platformsIconImage{
  max-width:40px; 
  max-height: 40px;
}

.editUserChangePassword{
  margin-top: 50px;
}

.editUserAdminActivityIndicatorLoginContainer{
  width: 30px; 
  text-align: center; 
}

.editUserAdminActivityIndicatorJamParticipationContainer{
  width: 30px; 
  text-align: center; 
}

.editUserAdminActivityIndicatorAdminActionContainer{
  width: 30px; 
  text-align: center; 
}

.editUserAdminActivityImage{
  width: 24px;
}

.editUserAdminCandidatesVoteColumn{
  width: 400px; 
  text-align: center;
}

.editUserAdminCandidatesSponsored{
  color: green;
}

.editUserAdminCandidatesVetoed{
  text-align: center; 
  color: red; 
  font-weight: bold;
}

.editUserAdminCandidatesVotesFor{
  text-align: center;
}

.editUserAdminCandidatesVotesButtonsContainer{
  text-align: right;
}

.editUserAdminCandidatesVotesForm{
  display: inline;
}

.editUserAdminCandidatesVotesButtonImage{
  width: 24px; 
  height: 24px;
}

.entriesPlatformIcon{
  width: 16px;
}

.header{
  background-color: #F7FBFD;
  border-bottom: 1px solid rgb(188, 232, 241);
}

.headerPanel{
  margin-bottom: 0px;
}

.headerChat{
  padding-top: 15px;
}

.footer{
  background-color: #F7FBFD;
  border-top: 1px solid rgb(188, 232, 241);
  padding-bottom: 10px;
}

.footerPanel{
  margin-bottom: 0px;
}

.footerColumnLeft{
  padding-top: 10px;
}
.footerColumnCenter{
  padding-top: 20px;
}
.footerColumnRight{
  padding-top: 10px;
}

.statsRow{
  font-size: 16px; 
  font-weight: bold;
  margin: auto;
}

.statsDisplay{
  margin-top: 10px;
  margin-bottom: 10px;
}

.headerColumn{
  margin-top: 10px;
}

.headerTimer{
  color: #FF0066;
}

.headerTimerCountdown{
  font-size: 24px; 
  font-weight: bold;
}

.brandLogo{
  float: left; 
  max-height: 100px; 
  border: 0;
}

.mainLogo{
  max-width: 100%;
  width: 400px;
  border: 0;
}

.footerLogo{
  max-width: 100%;
  width: 250px;
  border: 0;
}

.ircButtonLink{
  text-decoration: none;
}

.ircButtonLink:hover{
  text-decoration: none;
}

.ircButton{
  display: inline-block;
}

.ircButtonImage{
  width: 20px;
}

.discordButtonLink{
  text-decoration: none;
}

.discordButtonLink:hover{
  text-decoration: none;
}

.discordButton{
  display: inline-block;
}

.discordButtonImage{
  width: 20px;
}

.logoutButtonLink{
  text-decoration: none;
}

.logoutButtonLink:hover{
  text-decoration: none;
}

.logoutButton{
  display: inline-block;
}

.logoutButtonImage{
  width: 20px;
}

.loginButtonLink{
  text-decoration: none;
}

.loginButtonLink:hover{
  text-decoration: none;
}

.loginButton{
  display: inline-block;
}

.loginButtonImage{
  width: 20px;
}

.registerButtonLink{
  text-decoration: none;
}

.registerButtonLink:hover{
  text-decoration: none;
}

.registerButton{
  display: inline-block;
  color: #ffffff;
  background-color: #FF0066;
}

.registerButton:hover{
  background-color: #CC2668;
}

.registerButtonImage{
  width: 20px;
}

.cookieNoticeForm{
  float: right; 
  background: transparent; 
  border: none;
}

.jamHeaderContainer{
  padding: 0; 
  width: 100%; 
  align-content: center;
}

.jamHeaderRow{
  margin: 0;
}

.jamHeaderOrdinalContainer{
  text-align: center;
}

.jamHeaderOrdinal{
  font-size: 35px;
}

.jamContainerStartsSoon{
  border-color: #f1bcd9;
}

.jamContainerCurrent{
  border-color: #f1bcd9;
}

.jamHeaderStreamingPeriod{
  border-color: #f1bcd9;
}

.jamContener>.jamHeaderPanel>.jamHeaderStartsSoon{
  background-color: #F7D9EE;
  color: #8F315B;
}

.jamContener>.jamHeaderPanel>.jamHeaderCurrent{
  background-color: #F7D9EE;
  color: #8F315B;
}

.jamContener>.jamHeaderPanel>.jamHeaderStreamingPeriod{
  background-color: #F7D9EE;
  color: #8F315B;
}

.jamCountdownTimer{
  color: indianred; 
  font-weight: bold;
  text-align: center;
}

.jamHeaderStatsContainer{
  float: right; 
  text-align: right;
}

.jamTable{
  width: 100%;
}

.jamTableRow{
  height: 40px;
}

.jamTableEntryScreenshot{
  width: 220px;
}

.jamTableEntryScreenshotImage{
  max-width:100%;
}

.jamTableEntryScreenshotImageWithDescription{
  max-height:200px;
}

.jamTableEntryScreenshotImageWithoutDescription{
  max-height:100px;
}

.loginLink{
  float: right;
}

.registerLink{
  float: right;
}

.twitchFrame{
  width: 100%; 
  height: 100%;
}

.entryTile{
  padding-left: 0px; 
  padding-right: 0px; 
  height: 226px; 
  cursor: pointer; 
  border: none;
}

.entryTileIcon{
  height: 226px; 
}

.entryTileTable{
  display: table; 
  height: 100%; 
  width: 100%;
}

.entryTileCell{
  display: table-cell;
  vertical-align: bottom;
}

.entryTileSubmitButtonCell{
  display: table-cell;
  vertical-align: middle;
}

.entryTileCentering{
  margin-left: auto;
  margin-right: auto;
}

.entryTileTitle{
  width: 190px; 
  margin-left: auto; 
  margin-right: auto;
  border-radius: 5px;
}

.entryTileTitleText{
  word-wrap: break-word;
}

.entryTileDescriptionPanel{
  height: 226px; 
  overflow-y: auto; 
  overflow-x: hidden; 
}

.entryTileSubmit{
  padding-left: 0px; 
  padding-right: 0px; 
  height: 226px; 
  cursor: pointer; 
  border: none;
}

.entryTileSubmitText{
  padding-bottom: 3px;
}

.loadAllJamsButtonContainer{
  padding-bottom: 10px;
  padding-top: 5px;
}

.loadAllThemesButtonContainer{
  padding-bottom: 10px;
  padding-top: 5px;
}

.userSettingsForm{
  margin-top: 50px;
}

.userSettingsInput{
  font-weight: normal;
}

.themesTable{
  width: 100%;
}

.themesIdeasColumn{
  width: 100%;
}

.themesActionButtons{
  display: inline-block;
}

.submitJamHeader{
  font-size: 24px;
}

.submitEntryHeading{
  font-size: 16px;
}

.submitPlatformIcon{
  height: 16px; 
  width: 16px;
}

.submitColorButton{
  color: black;
}

.submitColorPreview{
  width: 190px; 
  margin-left: auto; 
  margin-right: auto;
  border-radius: 5px; 
  text-align: center;
}

.pollDisplayLegendContainer{
  padding-bottom: 50px;
}

.pollDisplayLegend{
  width: 100%
}

.pollDisplayPieContainer{
  padding-bottom: 50px;
}

.pollDisplayPie{
  position: relative; 
  height:30vh; 
  width:100%
}

.pollDisplayBarContainer{
  padding-bottom: 50px;
}

.pollDisplayBar{
  position: relative; 
  height:30vh; 
  width:100%
}

.pollRow{
  font-size: 16px;
}

.pollUserVoted{
  display: none;
}

.pollInstructionsText{
  font-size: 12px;
}

.pollOption{
  margin-top: 5px;
}

.notificationRow{
  font-size: 14px;
}

.notificationPanel{
  margin-bottom: 0px;
}

.notificationPanelBody{
  padding: 2px;
}

.notificationHeading{
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 4px;
}

.notificationHeading:hover{
  color: #000000;
  background-color: #FCF2BE;
  border-color: #FADEA5;
}

.notificationDangerHeading{
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 4px;
}

.notificationDangerHeading:hover{
  color: #000000;
  background-color: #F2B7B7;
  border-color: #F28C8C;
}

.notificationImage{
  max-height: 80px;
  float: left;
  margin-right: 10px;
}

.notificationImageTiny{
  max-height: 20px;
  margin-right: 10px;
}

.messageTitle{
  font-size: 24px;
}

.menuButton{
  width: 20px;
}

.manageThemesPie{
  position: relative; 
  max-height:500px; 
  max-width:500px;
}

.manageThemesLegendIcon{
  width: 16px;
}

.manageThemesStatusColumn{
  min-width: 10px;
}

.manageThemesActionsColumn{
  display: inline-block;
}

.manageThemesMultiActions{
  padding-top: 10px; 
  padding-bottom: 10px;
}

.manageThemesMultiActionsButton{
  border: none; 
  background-color: transparent;
}

.entriesNotVisible{
  display: none;
}

.installPageContainer{
  margin-top: 10px;
}


.pageHeading{
  font-size: 24px;
}

.pageDescription{
  margin: 0 0 10px;
}

.dataTableIdentifierColumn{
  font-weight: bold;
}

.dataTableHeaderRow{
  background-color: #d9edf7;
  color: #31708f
}

.fourRowDataTable tbody tr:nth-child(4n+1) {background-color: #ECF3F7; color: #31708f}
.fourRowDataTable tbody tr:nth-child(4n+2) {background-color: #FFF; color: #000000}
.fourRowDataTable tbody tr:nth-child(4n+3) {background-color: #F4F7F9; color: #31708f}
.fourRowDataTable tbody tr:nth-child(4n+4) {background-color: #FFF; color: #000000}

.dataTable tbody tr:nth-child(2n) {background-color: #ECF3F7; color: #31708f}
.dataTable tbody tr:nth-child(2n+1) {background-color: #F4F7F9; color: #31708f}

.assetImagePreview{
  max-width: 200px;
  max-height: 100px;
}
.assetImagePreviewCell{
  text-align: center;
  vertical-align: middle;
}
.assetAudioPreview{
  max-width: 200px;
  max-height: 100px;
}

.actionButton{
  margin: 5px 5px 5px 0px;
}

.entryTileTitleText{
  word-wrap: break-word;
}

.adminlogContentColumn{
  overflow-wrap: anywhere;
}

.entriesTitleColumn{
  overflow-wrap: anywhere;
}

.jamHeaderPanel{
  margin-bottom: 0px;
}

.jamHeaderPanel{
  border: 0px;
}

.jamHeaderIcon{
  max-width: 40px;
  max-height: 40px;
}

.annoyingNumberNotification {
  background-color: #a94442;
  color: white;
  display: inline-block;
  padding-left: 3px;
  padding-right: 3px;
}

/*  */

.theme-toggle-container{
  position: absolute;
  margin-top: 10px;
}

#theme-toggle-btn {
  position: fixed;
  top: -4px;
}
.theme-toggle-btn{
  border-radius: 50%;
  text-decoration: none !important;
}
.theme-toggle-light{
  background-color: rgb(255, 255, 255) !important;
  color: black;
}
.theme-toggle-dark{
  background-color: black;
}


.toggle-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.toggle-slot {
  z-index: 1;
  position: relative;
  height: 30px;
  width: 60px;
  border: 5px solid #e4e7ec;
  border-radius: 10em;
  background-color: white;
  box-shadow: 0px 10px 25px #e4e7ec00;
  transition: background-color 250ms;
}

.toggle-checkbox:checked ~ .toggle-slot {
  background-color: #374151;
}

.toggle-button {
  z-index: 1;
  transform: translate(0, 0);
  position: absolute;
  height: 19.5px;
  width: 19.5px;
  border-radius: 50%;
  background-color: #ffeccf;
  box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
  transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  background-color: #485367;
  box-shadow: inset 0px 0px 0px 0.75em white;
  transform: translate(2em, 0);
}
