body{
	background-color: #EFEFEF;
}


.jamHeader{
	cursor: pointer;
}

.jamContent{
    background-color: #F7FBFD;
}

.jamHeader:hover{
	background-color: #CCE7F4;
}

.panel{
	border-radius: 0px;
}

.panel-footer{
	border-radius: 0px;
}

.panel-heading{
	border-radius: 0px;
}

.notification-minor {
  background-color: #fcffdc;
}

.notification-major {
  background-color: #ffdcea;
}

.notification {
  padding: 5px;
  text-align: center;
  line-height: 16px;
}

.notifications-panel {
  border-bottom:1px solid #bce8f1;
  margin-bottom:1rem;
}

#mainmenu {
  list-style-type: none;
  padding-left: 0;
  margin: -15px;
  margin-bottom: 15px;
}

#mainmenu li {
  padding: 1px 7px;
}
#mainmenu li.mainmenu-separator {
  border-top: 1px solid white;
  margin-top: -1px;
  color: #777777;
  font-size: 10px;
  text-transform: uppercase;
  padding-top: 12px;
}
#mainmenu-social {
  text-align: center;
}
#mainmenu-social a {
  display: inline-block;
  text-decoration: none;
}

.new::before {
  content: 'New!';
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  vertical-align: middle;
}

.updated::before {
  content: 'Updated!';
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  vertical-align: middle;
}

.entryScreenshot{
	position: absolute;
	border: solid 1px #DDDDDD;
	transform: scale(1, 1);
	transition: 0.3s;
	width: 100%;
}
.entryScreenshot.hiddenFace{
	transform: scale(0, 1);
	transition: 0.1s;
}

.entryName{
	border: solid 1px #DDDDDD;
	border-top: 0px;
}

.entryPlayIcon{
	width: 24px;
}

.entryDescription{
	margin: 10px 0;
	padding: 5px;
	border-top: 1px solid rgba(0,0,0,0.5);
	border-bottom: 1px solid rgba(0,0,0,0.5);
	line-height: 14px;
}

.entryButton{
	border: 1px solid rgba(0,0,0,0.4);
	padding: 4px;
}
.entryButton:hover{
	border: 1px solid rgba(0,0,0,1);
}

.entry{
    color: black;
}

.form-control{
	border-radius: 0px;
}

.alignCenter{
    text-align: center;
}

.alignRight{
    text-align: center;
}

.fullWidth{
	width: 100%;
}

.maxFullWidth{
	max-width: 100%;
}

.btn{
	border-radius: 0px;
}

.themeTableCell{
	padding: 3px 3px;
	min-width: 30px;
}

.themeTableCellCentered{
	text-align: center;
}

.theme-to-delete{
  background-color:rgba(255,0,0,0.5);
}

.wrapper {
  width: 100%;
  /* whatever width you want */
  display: inline-block;
  position: relative;
}
.wrapper:after {
  padding-top: 56.25%;
  /* 16:9 ratio */
  display: block;
  content: '';
}
.main {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* fill parent */
  background-color: deepskyblue;
  /* let's see it! */
  color: white;
}

.trumbowyg {
  background-color: white;
  border: 1px solid #CCCCCC;
  margin-top: 0;
  min-height: 150px;
}

.trumbowyg-editor {
  min-height: 150px;
}

.mediaButton{
	width: 100px; 
	border-radius: 5px; 
	color: white; 
	text-align: center; 
	padding: 4px 0px;
	margin-bottom: 5px;
}

.twitterButton{
	background-color: #1B95E0; 
}

.twitterButton:hover{
	background-color: #0C7ABF; 
}

.twitchButton{
	background-color: #6441A5; 
}

.twitchButton:hover{
	background-color: #472B7C; 
}

.ircButton{
	background-color: #777777; 
}

.ircButton:hover{
	background-color: #4B4B4B; 
}

.discordButton{
	background-color: #7289DA; 
}

.discordButton:hover{
	background-color: #6676AE; 
}

.authorPageEntry{
  background-color: #F5F5F5;
}

.bold{
  font-weight: bold;
}

.cookieNotice{
  position: fixed;
  bottom: 1.5%;
  z-index: 999;
  padding: 10px 15px;
  text-align: left;

  width: 50%;
  margin-right: 25%;
  margin-left: 25%;

  border-radius: 10px;

  background: #576065;
  color: white;

  font-size: 15px;
  line-height: 25px;

  animation: 2s slide-up;
}

@keyframes slide-up {
  from {
    bottom: -15%;
  }

  25%{
    bottom: -15%;
  }

  to {
    bottom: 1.5%;
  }
}

.cookieNotice>.btn-xs{
  color: white;
}